In [75]:
# Load library
import fairsearchcore as fsc
import pandas as pd
import numpy as np

In [108]:
# PLAIN DF * 200
dataframen = pd.read_csv("TWO_samlet_preds_index_ny_PLAIN.csv") 
dataframen_input = pd.read_csv("plain_seed24_gemmes.csv") ## denne er til brug da vi skulle regne RMSE p√• fair

dfs = np.array_split(dataframen, 200)
dfs[2][:50]

      Unnamed: 0    Idx  Gender_bins      Preds
8192           0  12063            0  93.552032
8193           1  11714            0  93.552032
8194           2   7332            0  93.552032
8195           3   6991            0  93.552032
8196           4   6641            0  93.552032
8197           5   4900            0  93.552032
8198           6   7126            0  93.552032
8199           7   9099            0  93.123718
8200           8    622            1  92.991440
8201           9   5673            1  92.991440
8202          10  12018            1  92.991440
8203          11   4483            1  92.991440
8204          12   5238            1  92.991440
8205          13  11871            0  92.988518
8206          14   6145            0  92.928108
8207          15   7201            0  92.560204
8208          16   6090            0  92.513535
8209          17  11866            0  92.513535
8210          18  11321            0  92.378677
8211          19   9480            1  92.293320
8212          20   1799            1  92.293320
8213          21   5129            1  92.293320
8214          22   8298            0  92.277748
8215          23   8476            0  92.277748
8216          24  11986            0  92.155327
8217          25   4514            0  92.155327
8218          26   4835            0  92.155327
8219          27  11657            0  92.152130
8220          28   9055            1  92.114349
8221          29   5657            1  92.080421
8222          30   2648            0  92.031464
8223          31   8609            0  92.017273
8224          32   9215            0  92.017273
8225          33   6125            0  92.017273
8226          34   3438            0  91.996193
8227          35   9351            0  91.908424
8228          36  12202            0  91.896606
8229          37  11159            0  91.896606
8230          38  10110            0  91.849434
8231          39   4679            0  91.807495
8232          40   9955            1  91.719017
8233          41  11333            0  91.708557
8234          42  11859            0  91.694366
8235          43   6564            0  91.694366
8236          44  11214            0  91.681007
8237          45   1962            0  91.662483
8238          46   9961            1  91.594734
8239          47   5335            0  91.588959
8240          48   2079            0  91.573700
8241          49   9283            0  91.567879

In [115]:
dataframen_input.sort_values(by='Preds', ascending=False)[:50]

      Unnamed: 0    Idx  Gender_bins      Preds
2311        2311   5027    -0.830422  92.674171
3663        3663   5376    -0.830422  92.674171
3126        3126   4900    -0.830422  92.674171
1047        1047   8905    -0.830422  92.674171
1423        1423   8982    -0.830422  92.674171
2155        2155  12328    -0.830422  92.674171
2808        2808   7126    -0.830422  92.674171
3141        3141   5576    -0.830422  92.631844
2635        2635  12063    -0.830422  92.631844
2787        2787   5248    -0.830422  92.631844
562          562   7510    -0.830422  92.631844
523          523   6236    -0.830422  92.631844
1777        1777  11714    -0.830422  92.540642
3928        3928   2607    -0.830422  92.518654
3660        3660   7493    -0.830422  92.492126
3549        3549  11800    -0.830422  92.476326
407          407   6880    -0.830422  92.476326
3034        3034   7333    -0.830422  92.428604
1103        1103   6862     1.203913  92.416870
3746        3746   7490     1.203913  92.310928
1476        1476   5673     1.203913  92.310135
2667        2667   4799    -0.830422  92.294281
3787        3787   7201    -0.830422  92.294281
325          325   7354     1.203913  92.267807
1929        1929   5129     1.203913  92.154617
3306        3306  10137     1.203913  92.119949
2169        2169  11260     1.203913  92.112289
1257        1257   7342     1.203913  92.112289
1979        1979    622     1.203913  92.021088
1817        1817  11986    -0.830422  92.003639
1357        1357   2068    -0.830422  91.787758
1442        1442  10558    -0.830422  91.179268
2530        2530   8883    -0.830422  91.044945
2122        2122   5926    -0.830422  91.044945
1991        1991   8486    -0.830422  91.044945
285          285   8273    -0.830422  91.044945
57            57  11721    -0.830422  91.044945
3575        3575    118    -0.830422  91.044945
2499        2499  10046    -0.830422  91.044945
4048        4048  11172    -0.830422  91.044945
2566        2566     90    -0.830422  91.044945
71            71    637    -0.830422  90.953743
3564        3564   6179    -0.830422  90.953743
1715        1715   7946    -0.830422  90.953743
659          659   8479    -0.830422  90.953743
4090        4090   1239    -0.830422  90.862953
1877        1877   7999    -0.830422  90.862900
293          293   1215    -0.830422  90.862900
2344        2344   7235    -0.830422  90.862900
595          595   2131    -0.830422  90.862900

In [77]:
# MERGESORT DF * 200
# dataframen_merge = pd.read_csv('dfs_test199 copy 3.csv')
# df_merge_use = dataframen_merge.copy()
# df_merge_use = df_merge_use[["Unnamed: 0", "3", "4", "18"]].rename(columns= {"3":"Preds", "4":"Gender_bins", "18":"COL_GRADE_AVG"})
# df_merge_BIG_split = np.array_split(df_merge_use, 200)

In [78]:
# df_merge_BIG_split[1]

In [79]:
# df_merge_BIG_split[2]

## NY FA*IR funktion: Maximize utility while maximizing fairness.

In [98]:
dataframen_for_RMSE = dataframen

dataframen_for_RMSE.loc[dataframen_for_RMSE.Gender_bins > 0, 'Gender_bins'] = 1
dataframen_for_RMSE.loc[dataframen_for_RMSE.Gender_bins < 0, 'Gender_bins'] = 0

In [81]:
# dataframen_for_RMSE=dataframen_for_RMSE.drop(columns={"Unnamed: 0"})
# dataframen_for_RMSE=dataframen_for_RMSE.rename(columns= {'Idx': "Unnamed: 0"})

In [82]:

# GUDF = pd.read_csv('GUDF.csv')
# dataframen_for_RMSE_new = pd.concat([dataframen_for_RMSE, GUDF.STRATUM], axis=1)

In [103]:
# df_try=dataframen_for_RMSE
df_try = dataframen_for_RMSE#[:10000]
df_try[:50]

    Unnamed: 0    Idx  Gender_bins      Preds
0            0  11423          1.0  85.287567
1            1   8153          0.0  85.460320
2            2  12100          0.0  86.039581
3            3   1499          0.0  35.436146
4            4   7670          0.0  68.335724
5            5   9049          1.0  79.336662
6            6   7969          1.0  48.058628
7            7   7996          0.0  80.706444
8            8  10658          0.0  80.727806
9            9   2342          0.0  57.059361
10          10   2843          1.0  65.860886
11          11   1059          0.0  79.474640
12          12   8500          0.0  60.198864
13          13   5996          1.0  66.494690
14          14   8268          0.0  70.698372
15          15  11480          1.0  47.124126
16          16  10426          1.0  49.939533
17          17   3016          1.0  44.439651
18          18   8449          0.0  42.243549
19          19   7993          0.0  68.505905
20          20   2489          1.0  89.635422
21          21   7801          0.0  51.761589
22          22   4135          0.0  23.874554
23          23  11063          0.0  81.012878
24          24   3875          0.0  58.439804
25          25   1823          1.0  67.002930
26          26   2310          0.0  81.052956
27          27   7265          1.0  60.845699
28          28   2985          0.0  62.504734
29          29   4400          0.0  82.710777
30          30   3545          1.0  62.495464
31          31   7736          0.0  41.929882
32          32  11908          0.0  44.546505
33          33   9344          0.0  65.876259
34          34   6534          1.0  47.959103
35          35   6418          0.0  47.911640
36          36    661          1.0  68.076767
37          37   8580          0.0  57.220932
38          38   7690          0.0  89.644287
39          39  10796          0.0  60.568314
40          40   5674          0.0  81.012878
41          41   9496          0.0  86.955833
42          42    538          0.0  73.635796
43          43  11975          1.0  52.866467
44          44   7713          1.0  55.852375
45          45    119          0.0  44.210979
46          46   2202          0.0  72.182236
47          47   2883          1.0  60.921181
48          48   4421          0.0  86.575722
49          49   8002          0.0  65.781334

In [88]:
# If WO run this
# df_try['Gender_bins'] = df_try['Gender_bins'].str.strip('[]').astype(int)
# df_try

In [89]:
import warnings

In [90]:
def modified_FAIR(df, k, n_prefix, prop=-1 ):
    
    """" 
    Our fair algorithm inspired by Zehlike's FA*IR:
    df is predicted df. k is top k ranking from df of length N. n_prefix is desired prop for each n prefix. 
    prop is desired proportion with default value of the proportion of the protected group in the df. 
    
    Output is 'result' of a fair top-k ranking with desired proportion for the whole df and in every prefix
    
    """
    
    if prop<0:
        prop = len(df[df.Gender_bins == 1])/len(df)
        print("defualt proportios: ", prop)
        
    #we subtract by 1, because we are using 0-index
    n_prefix = int(n_prefix *k)-1

    # if k/n_prefix != int(k/n_prefix):
    #     warnings.warn('Please use 0.1 as 10 percent of the top-k as prefix')
    
    #split df in two df groups: protected and non-protected and ensure each of them are sorted
    #in descending order by Preds scores
    
    #protected (1=Female)
    dfp = df[df.Gender_bins == 1].sort_values(by='Preds', ascending=False).reset_index()
    #non-protected
    dfpn = df[df.Gender_bins == 0].sort_values(by='Preds', ascending=False).reset_index()
    
    #dfnew with of the top-k fair sorting of org. df
    #new df
    dfnew = pd.DataFrame(columns = df.columns)
    
    #print OBS if it's not possible to achieve the given prop for each n prefix for the whole top-k
    
    #for-loop for creating ranking in batches of prefix_n through k
    
    #desired number of protected candidates in each n batch
    prop_ok = int(n_prefix*prop)
    prop_pn = int(n_prefix - prop_ok)
        
    #index in each dataframe
    dfp_Idx = 0
    dfpn_Idx = 0
        
    for i in range(int(k/n_prefix)): #loop over number of n_prefixes in length k
        p_Idx = 0
        pn_Idx = 0
        
            
        if len(dfnew) >= k: #stop if desired k is achieved
            #print("500")
            break

        for j in range(n_prefix):
            if dfp.Preds.loc[dfp_Idx] > dfpn.Preds.loc[dfpn_Idx]:
                dfnew = dfnew.append(dfp.loc[dfp_Idx])
                p_Idx += 1
                dfp_Idx += 1
            else:
                dfnew = dfnew.append(dfpn.loc[dfpn_Idx])
                pn_Idx += 1
                dfpn_Idx += 1

            #if the proportion of nonprotected group is achieved within the prefix, add rest as protected 
            if pn_Idx == prop_pn:
                dfnew = dfnew.append(dfp.loc[dfp_Idx : dfp_Idx + (prop_ok-p_Idx)])
                dfp_Idx += (prop_ok-p_Idx)
                break
            #if the proportion of protected group is achieved within the prefix, add rest as non-protected
            elif p_Idx == prop_ok:
                dfnew = dfnew.append(dfpn.loc[dfpn_Idx : dfpn_Idx + (prop_pn-pn_Idx) ])
                dfpn_Idx += (prop_pn-pn_Idx)
                break


        dfnew = dfnew.drop(["index"], axis=1).reset_index()
                
    return dfnew

In [100]:
re_ranked_fair_for_RMSE = modified_FAIR(df_try, 4000, 0.0065, 0.40)
re_ranked_fair_for_RMSE.to_csv('re_ranked_fair_for_RMSE.csv')

In [107]:
def fair_mange(df):
    tom_res = pd.DataFrame(columns = ['not_4_use','Idx','Gender_bins','Preds'])
    for i in range(1):
        ress = modified_FAIR(dfs[i], 4000, 0.0065, 0.40)
        # ress.to_csv(f"re_ranked_{i}.csv")
        tom_res = tom_res.append(ress)
        # print(ress)
    
    tom_res = tom_res.drop(['index','not_4_use','Unnamed: 0'], axis=1)
    return tom_res.to_csv(f"re_ranked_fair_for_RMSE.csv")
fair_mange(dfs)

### FAIR re-ranking of PLAIN XGBoost

In [92]:
def fair_mange(df):
    tom_res = pd.DataFrame(columns = ['not_4_use','Idx','Gender_bins','Preds'])
    for i in range(200):
        ress = modified_FAIR(dfs[i], 4000, 0.0065, 0.40)
        # ress.to_csv(f"re_ranked_{i}.csv")
        tom_res = tom_res.append(ress)
        # print(ress)
    
    tom_res = tom_res.drop(['index','not_4_use','Unnamed: 0'], axis=1)
    return tom_res.to_csv(f"re_ranked_{i}_NY_50.csv")
fair_mange(dfs)

NameError: name 'dfs' is not defined

In [ ]:
0.0065*4000

26.0

In [ ]:
pd.read_csv("re_ranked_199_NY_1.csv")

       Unnamed: 0      Idx  Gender_bins      Preds
0               0  12016.0          0.0  92.565254
1               1   7490.0          1.0  92.565254
2               2   2607.0          0.0  92.477142
3               3   4874.0          0.0  92.477142
4               4   1089.0          0.0  92.477142
...           ...      ...          ...        ...
99995         495   6435.0          1.0  87.382034
99996         496   7676.0          0.0  84.653244
99997         497   2729.0          0.0  84.642578
99998         498   5017.0          0.0  84.611168
99999         499  11141.0          0.0  84.606804

[100000 rows x 4 columns]

In [ ]:
# ress = our_FAIR(df_try, 0.40, 0.1, 500)
# sum(ress.Gender_bins[630:700])

Check ratio of women out of total

In [ ]:
# # sum(ress.Gender_bins)/len(ress)
#print(ress.Gender_bins.value_counts())
#print(len(ress[ress.Gender_bins == 1]))
#print(len(ress))
# print(len(ress[ress.Gender_bins == 1])/len(ress))
print('{0:.05f}'.format(len(o33[o33.Gender_bins == 1])/len(o33)))

0.39798

### FAIR re-ranking of Mergesort

In [ ]:
dfs[1]

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [ ]:
modified_FAIR(dfs[1], 500, 0.33, 0.40)

     index  Unnamed: 0      Idx  Gender_bins      Preds
0        0         0.0   8893.0          0.0  92.327812
1        1         2.0   5376.0          0.0  92.289169
2        2         3.0  10892.0          0.0  92.289169
3        3         1.0   7332.0          0.0  92.289169
4        4        11.0  11986.0          0.0  92.241760
..     ...         ...      ...          ...        ...
490    293       494.0   4360.0          0.0  83.816170
491    294       499.0  10705.0          0.0  83.812927
492    295       498.0  11253.0          0.0  83.812927
493    296       497.0   9184.0          0.0  83.812927
494    297       496.0   9514.0          0.0  83.812927

[495 rows x 5 columns]

In [ ]:
df_merge_BIG_split[1]

      Unnamed: 0      Preds  Gender_bins  COL_GRADE_AVG
4096        7110  64.333333            1      80.333333
4097        4545  65.666667            0      70.000000
4098       11662  52.666667            1      78.666667
4099        3038  45.333333            0      32.333333
4100        3361  75.333333            1      80.666667
...          ...        ...          ...            ...
8187        9883  47.333333            1      38.000000
8188        5635  65.333333            0      77.000000
8189       11119  68.000000            1      81.666667
8190        8056  63.000000            1      50.000000
8191       11981  76.333333            1      88.333333

[4096 rows x 4 columns]

In [ ]:
def fair_mange_merge(df):
    tom_res = pd.DataFrame(columns = ['not_4_use','Unnamed: 0','Gender_bins','Preds'])
    for i in range(200):
        ress = our_FAIR(df[i], 4000, 0.0065, 0.40)
        # ress.to_csv(f"re_ranked_{i}.csv")
        tom_res = tom_res.append(ress)
        # print(ress)
    
    tom_res = tom_res.drop(['index'], axis=1)
    return tom_res.to_csv(f"re_ranked_merge_NY_25_prefix.csv") 
fair_mange_merge(df_merge_BIG_split)

In [ ]:
df_m = pd.read_csv("re_ranked_merge_NY_25_prefix.csv")

In [ ]:
df_m

,Unnamed: 0,not_4_use,Unnamed: 0.1,Gender_bins,Preds,COL_GRADE_AVG
0,0,NaN,11864.0,1.0,97.666667,98.666667
1,1,NaN,4874.0,0.0,96.666667,97.333333
2,2,NaN,1089.0,0.0,95.000000,97.000000
3,3,NaN,4900.0,0.0,93.666667,96.333333
4,4,NaN,2607.0,0.0,93.333333,98.000000
...,...,...,...,...,...,...
800795,3999,NaN,883.0,0.0,45.000000,39.000000
800796,4000,NaN,3658.0,0.0,45.000000,34.333333
800797,4001,NaN,3716.0,0.0,45.000000,35.000000
800798,4002,NaN,689.0,0.0,45.000000,26.666667
800799,4003,NaN,753.0,0.0,44.666667,39.333333

In [ ]:
our_FAIR(df_merge_BIG_split[1], 4000, 0.0065, 0.40)

      index  Unnamed: 0       Preds  Gender_bins  COL_GRADE_AVG
0         0      5129.0  100.000000          1.0      98.666667
1         1     11864.0   97.666667          1.0      98.666667
2         2      8877.0   92.333333          0.0     100.000000
3         3      8982.0   91.000000          0.0      89.333333
4         4      2308.0   91.000000          1.0      98.666667
...     ...         ...         ...          ...            ...
3999   2306      6717.0   46.333333          0.0      27.666667
4000   2307      7853.0   46.333333          0.0      28.666667
4001   2308      3705.0   46.333333          0.0      16.000000
4002   2309      2804.0   46.333333          0.0      37.666667
4003   2310      3492.0   46.333333          0.0      59.000000

[4004 rows x 5 columns]

In [ ]:
df_merge_BIG_split[1]

    Unnamed: 0      Preds  GENDER_bin  COL_GRADE_AVG
21        7801  54.666667           0      67.666667
22        4135  42.333333           0      24.000000
23       11063  69.666667           0      87.666667
24        3875  57.666667           0      47.333333
25        1823  61.333333           1      80.000000
26        2310  69.000000           0      85.666667
27        7265  58.666667           1      68.333333
28        2985  59.000000           0      54.000000
29        4400  72.666667           0      97.333333
30        3545  64.000000           1      51.666667
31        7736  50.666667           0      64.666667
32       11908  51.000000           0      45.000000
33        9344  61.000000           0      87.000000
34        6534  53.666667           1      62.000000
35        6418  52.666667           0      35.666667
36         661  62.333333           1      77.666667
37        8580  56.333333           0      63.000000
38        7690  81.333333           0      95.000000
39       10796  58.000000           0      48.333333
40        5674  69.666667           0      56.333333
41        9496  75.666667           0      98.000000

# Ny FA*IR - grouped fairness

In [ ]:
df_try = dfs[1]

In [ ]:
#add STRATUM
GUDF = pd.read_csv('GUDF.csv')
GUDF["Idx"] = GUDF["Unnamed: 0"]
GUDF

,Unnamed: 0,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,QR_PRO,CR_PRO,CC_PRO,ENG_PRO,WC_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin,Idx
0,0,F,Stratum_4,PRIVATE,ACADEMIC,71,81,61,86,82,71,93,71,93,79,85.666667,74.666667,1,0
1,1,F,Stratum_5,PRIVATE,ACADEMIC,83,75,66,100,88,97,38,86,98,78,74.000000,76.333333,1,1
2,2,M,Stratum_2,PRIVATE,ACADEMIC,52,49,38,46,42,17,1,18,43,22,20.666667,43.000000,0,2
3,3,F,Stratum_2,PRIVATE,ACADEMIC,56,55,51,64,73,65,35,76,80,48,63.666667,59.666667,1,3
4,4,M,Stratum_4,PRIVATE,ACADEMIC,80,65,76,85,92,94,94,98,100,71,97.333333,77.666667,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,12406,M,Stratum_2,PRIVATE,ACADEMIC,67,69,70,67,81,88,71,86,87,65,81.333333,73.333333,0,12406
12407,12407,M,Stratum_2,PUBLIC,ACADEMIC,58,57,61,63,53,46,39,44,11,0,31.333333,57.000000,0,12407
12408,12408,M,Stratum_2,PRIVATE,ACADEMIC,66,69,75,70,58,98,88,90,81,87,86.333333,67.333333,0,12408
12409,12409,F,Stratum_3,PRIVATE,ACADEMIC,53,69,64,59,52,60,80,51,8,42,46.333333,61.666667,1,12409
12410,12410,M,Stratum_3,PUBLIC,ACADEMIC,79,65,62,77,73,83,95,91,79,47,88.333333,66.666667,0,12410

In [ ]:

df_try

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [ ]:
df_try.dtypes

Unnamed: 0       int64
Idx              int64
Gender_bins      int64
Preds          float64
dtype: object

In [ ]:
#Merge with Stratum column
GUDF = pd.read_csv('GUDF.csv')
GUDF["Idx"] = GUDF["Unnamed: 0"]
df_try = df_try.merge(GUDF[["Idx", "STRATUM"]], on="Idx")
#remove stratum = 0
df_try = df_try[df_try.STRATUM != "0"]

In [ ]:
df_try

      Unnamed: 0    Idx  Gender_bins      Preds    STRATUM
0              0   8893            0  92.327812  Stratum_4
1              1   7332            0  92.289169  Stratum_2
2              2   5376            0  92.289169  Stratum_2
3              3  10892            0  92.289169  Stratum_2
4              4   5248            0  92.241760  Stratum_3
...          ...    ...          ...        ...        ...
4091        4091   9686            1  22.984625  Stratum_1
4092        4092   3588            0  22.632490  Stratum_1
4093        4093   4258            0  22.602186  Stratum_1
4094        4094  10441            1  22.349106  Stratum_1
4095        4095   6366            0  22.125526  Stratum_1

[4091 rows x 5 columns]

In [ ]:
df_grouped = df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count()

In [ ]:
df_grouped.iloc[0][0]

357

In [ ]:
len_df_wo_0 = dfs[1]

In [ ]:
df_grouped["init_prop"]
df_grouped

KeyError: 'init_prop'

In [ ]:
#counts
df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count() #.drop(["0"], axis=0)

                       Preds
STRATUM   Gender_bins
Stratum_1 0              357
          1              247
Stratum_2 0              752
          1              517
Stratum_3 0              787
          1              556
Stratum_4 0              323
          1              206
Stratum_5 0              129
          1               89
Stratum_6 0               92
          1               36

In [ ]:
#Get ratio

#1. counts
df_count = df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count() #.drop(["0"], axis=0)

#len of df without STRATUM = 0
len_strats = df_count.Preds.sum()

#Divide df_counts with len
df_count["ratio"] = df_count.Preds/len_strats

df_count

                       Preds     ratio
STRATUM   Gender_bins
Stratum_1 0              357  0.087265
          1              247  0.060376
Stratum_2 0              752  0.183818
          1              517  0.126375
Stratum_3 0              787  0.192374
          1              556  0.135908
Stratum_4 0              323  0.078954
          1              206  0.050354
Stratum_5 0              129  0.031533
          1               89  0.021755
Stratum_6 0               92  0.022488
          1               36  0.008800

In [ ]:
df_count.iloc[1][1]

0.06037643607919824

In [ ]:
df_try[(df_try.Gender_bins == 1) & (df_try.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()

     index  Unnamed: 0    Idx  Gender_bins      Preds    STRATUM
0      111         111   5529            1  90.070946  Stratum_1
1      200         200   8859            1  88.187462  Stratum_1
2      216         216   6435            1  88.024071  Stratum_1
3      315         315   8217            1  86.554169  Stratum_1
4      323         323   9624            1  86.473778  Stratum_1
..     ...         ...    ...          ...        ...        ...
242   4083        4083    875            1  23.587250  Stratum_1
243   4084        4084   9926            1  23.571953  Stratum_1
244   4089        4089   3475            1  23.242464  Stratum_1
245   4091        4091   9686            1  22.984625  Stratum_1
246   4094        4094  10441            1  22.349106  Stratum_1

[247 rows x 6 columns]

In [ ]:
df_try.Preds.iloc[0]

92.32781219482422

In [ ]:
n_cand0 = np.array([0,0,0,5])
cand_prop0 = np.array([1,2,3,4])

In [ ]:
if n_cand0.any()<cand_prop0.any():
    print("true")

In [ ]:
q = [n_cand0[i]>cand_prop0[i] for i in range(len(cand_prop0))]

In [ ]:
np.where([n_cand0[i]>cand_prop0[i] for i in range(len(cand_prop0))])[0]

array([3])

In [ ]:
arr_list = ["df_s1_g0","df_s2_g0","df_s3_g0","df_s4_g0","df_s5_g0","df_s6_g0",
            "df_s1_g1","df_s2_g1","df_s3_g1","df_s4_g1","df_s5_g1","df_s6_g1"]

In [ ]:
eval(arr_list[int(max_arr_idx)]+"_idx")

In [ ]:
def our_grouped_FAIR(df, k, n_prefix):
    
    """" 
    Our grouped fair algorithm inspired by Zehlike's FA*IR for multiple grouped:
    df is predicted df. k is top k ranking from df of length N. n_prefix is desired proportion for each n prefix
    as percentage e.g. "0.1"=10%. 

    Output is result of a grouped fair top-k ranking with desired proportion for the whole df and in every prefix,
    and added "Stratum-gender" column.
    
    """
    
    #Merge with Stratum column
    GUDF = pd.read_csv('GUDF.csv')
    GUDF["Idx"] = GUDF["Unnamed: 0"]
    df = df.merge(GUDF[["Idx", "STRATUM"]], on="Idx")
    #remove stratum = 0
    df = df[df.STRATUM != "0"]

    #we subtract by 0, because we are using 0-index
    n_prefix = int(n_prefix*k)-1
    print(n_prefix)
    
    #new df to append new ranking to
    print(df.columns)
    dfnew = pd.DataFrame(columns = df.columns)
    

    ## Split df in groups by gender-stratum: protected and non-protected and ensure each of them are sorted
    #in descending order by Preds scores
    
    #Gender = 0
    df_s1_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()
    df_s2_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_2")].sort_values(by='Preds', ascending=False).reset_index()
    df_s3_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_3")].sort_values(by='Preds', ascending=False).reset_index()
    df_s4_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_4")].sort_values(by='Preds', ascending=False).reset_index()
    df_s5_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_5")].sort_values(by='Preds', ascending=False).reset_index()
    df_s6_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_6")].sort_values(by='Preds', ascending=False).reset_index()
    
    #Gender = 1
    df_s1_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()
    df_s2_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_2")].sort_values(by='Preds', ascending=False).reset_index()
    df_s3_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_3")].sort_values(by='Preds', ascending=False).reset_index()
    df_s4_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_4")].sort_values(by='Preds', ascending=False).reset_index()
    df_s5_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_5")].sort_values(by='Preds', ascending=False).reset_index()
    df_s6_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_6")].sort_values(by='Preds', ascending=False).reset_index()
    
    
    ## Get ratio of each stratum-gender pair in the initial dataframe
    
    #count number of candidates in initial df
    df_count = df[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count()


    #Divide df_counts with len
    df_count["ratio"] = df_count.Preds/len(df) #then df_count[0][0] will be (Stratum_1, 0) and it's proportion
            
    #desired number of protected candidates in each n batch
    prop_s1_g0 = int(n_prefix*df_count["ratio"].iloc[0])
    prop_s2_g0 = int(n_prefix*df_count["ratio"].iloc[2])
    prop_s3_g0 = int(n_prefix*df_count["ratio"].iloc[4])
    prop_s4_g0 = int(n_prefix*df_count["ratio"].iloc[6])
    prop_s5_g0 = int(n_prefix*df_count["ratio"].iloc[8])
    prop_s6_g0 = int(n_prefix*df_count["ratio"].iloc[10])

    prop_s1_g1 = int(n_prefix*df_count["ratio"].iloc[1])
    prop_s2_g1 = int(n_prefix*df_count["ratio"].iloc[3])
    prop_s3_g1 = int(n_prefix*df_count["ratio"].iloc[5])
    prop_s4_g1 = int(n_prefix*df_count["ratio"].iloc[7])
    prop_s5_g1 = int(n_prefix*df_count["ratio"].iloc[9])
    prop_s6_g1 = int(n_prefix*df_count["ratio"].iloc[11])

    
    # array with proportions 
    cand_prop = np.array([prop_s1_g0, prop_s2_g0, prop_s3_g0, prop_s4_g0, prop_s5_g0, prop_s6_g0,
                         prop_s1_g1, prop_s2_g1, prop_s3_g1, prop_s4_g1, prop_s5_g1, prop_s6_g1])
    
    print(cand_prop)
    
    ## For-loop for creating ranking in batches of prefix_n through k
    
    #index in each dataframe    
    df_s1_g0_idx = 0
    df_s2_g0_idx = 0
    df_s3_g0_idx = 0
    df_s4_g0_idx = 0
    df_s5_g0_idx = 0
    df_s6_g0_idx = 0  
    
    df_s1_g1_idx = 0
    df_s2_g1_idx = 0
    df_s3_g1_idx = 0
    df_s4_g1_idx = 0
    df_s5_g1_idx = 0
    df_s6_g1_idx = 0 

    arr_list = ["df_s1_g0","df_s2_g0","df_s3_g0","df_s4_g0","df_s5_g0","df_s6_g0",
                "df_s1_g1","df_s2_g1","df_s3_g1","df_s4_g1","df_s5_g1","df_s6_g1"]

    
    for i in range(int(k/n_prefix)): #loop over number of n_prefixes in length k
        #number of candidates in prefix of each group
        s1_g0_idx = 0
        s2_g0_idx = 0
        s3_g0_idx = 0
        s4_g0_idx = 0
        s5_g0_idx = 0
        s6_g0_idx = 0  
    
        s1_g1_idx = 0
        s2_g1_idx = 0
        s3_g1_idx = 0
        s4_g1_idx = 0
        s5_g1_idx = 0
        s6_g1_idx = 0 
        #print("i=",i)
        
        print(s4_g0_idx)
        
        n_cand = np.array([s1_g0_idx,s2_g0_idx,s3_g0_idx,s4_g0_idx,s5_g0_idx,s6_g0_idx,
                          s1_g1_idx,s2_g1_idx,s3_g1_idx,s4_g1_idx,s5_g1_idx,s6_g1_idx])
        
        for j in range(n_prefix):
            
        #Check if number of candidates is less than proportion
            
            if all([n_cand[ki]<=cand_prop[ki] for ki in range(len(cand_prop))]):
                print("if true")
                arr_idx = np.array([df_s1_g0.Preds.iloc[df_s1_g0_idx],df_s2_g0.Preds.iloc[df_s2_g0_idx],
                                    df_s3_g0.Preds.iloc[df_s3_g0_idx],df_s4_g0.Preds.iloc[df_s4_g0_idx],
                                    df_s5_g0.Preds.iloc[df_s5_g0_idx],df_s6_g0.Preds.iloc[df_s6_g0_idx],
                                    df_s1_g1.Preds.iloc[df_s1_g1_idx],df_s2_g1.Preds.iloc[df_s2_g1_idx],
                                    df_s3_g1.Preds.iloc[df_s3_g1_idx],df_s4_g1.Preds.iloc[df_s4_g1_idx],
                                    df_s5_g1.Preds.iloc[df_s5_g1_idx],df_s6_g1.Preds.iloc[df_s6_g1_idx]])
                max_arr_idx = np.where(arr_idx == np.amax(arr_idx))[0][0] #make random choice da flere har den samme pred val.
                print("arr_idx",arr_idx)
                
                dfnew = dfnew.append(eval(arr_list[max_arr_idx]).loc[eval(arr_list[max_arr_idx]+"_idx")])
                
                exec(arr_list[int(max_arr_idx)]+"_idx" '+=' '1')
                
                print("exec", eval(arr_list[int(max_arr_idx)]+"_idx"))
                
                exec(arr_list[int(max_arr_idx)][3:]+"_idx" '+=' '1')
                
                print(s4_g0_idx)

                #break

            #else if num of candidates in n_prefix is equal to or higher than cand_proportion,
            #only add max of the others.

            else:
                print("else true")
                list_greater = np.where([n_cand[ki]>=cand_prop[ki] for ki in range(len(cand_prop))])[0]
                arr_idx = np.array([df_s1_g0.Preds.iloc[df_s1_g0_idx],df_s2_g0.Preds.iloc[df_s2_g0_idx],
                                    df_s3_g0.Preds.iloc[df_s3_g0_idx],df_s4_g0.Preds.iloc[df_s4_g0_idx],
                                    df_s5_g0.Preds.iloc[df_s5_g0_idx],df_s6_g0.Preds.iloc[df_s6_g0_idx],
                                    df_s1_g1.Preds.iloc[df_s1_g1_idx],df_s2_g1.Preds.iloc[df_s2_g1_idx],
                                    df_s3_g1.Preds.iloc[df_s3_g1_idx],df_s4_g1.Preds.iloc[df_s4_g1_idx],
                                    df_s5_g1.Preds.iloc[df_s5_g1_idx],df_s6_g1.Preds.iloc[df_s6_g1_idx]])
                arr_idx = np.delete(arr_idx, list_greater)
                
                max_arr_idx = np.where(arr_idx == np.amax(arr_idx))[0][0]
                dfnew = dfnew.append(eval(arr_list[max_arr_idx]).loc[eval(arr_list[max_arr_idx]+"_idx")])

                exec(arr_list[max_arr_idx]+"_idx" '+=' '1')
                exec(arr_list[max_arr_idx][3:]+"_idx" '+=' '1')
                #break



        dfnew = dfnew.drop(["index"], axis=1).reset_index()
                
    return dfnew

In [ ]:
df_try

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [ ]:
df_grouped_ranked = our_grouped_FAIR(df_try, 500, 0.1)

49
Index(['Unnamed: 0', 'Idx', 'Gender_bins', 'Preds', 'STRATUM'], dtype='object')
[4 9 9 3 1 1 2 6 6 2 1 0]
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025

 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0

In [ ]:
df_grouped_ranked

     index Unnamed: 0   Idx Gender_bins      Preds    STRATUM
0        0          0  8893           0  92.327812  Stratum_4
1        1          0  8893           0  92.327812  Stratum_4
2        2          0  8893           0  92.327812  Stratum_4
3        3          0  8893           0  92.327812  Stratum_4
4        4          0  8893           0  92.327812  Stratum_4
..     ...        ...   ...         ...        ...        ...
485      0          0  8893           0  92.327812  Stratum_4
486      0          0  8893           0  92.327812  Stratum_4
487      0          0  8893           0  92.327812  Stratum_4
488      0          0  8893           0  92.327812  Stratum_4
489      0          0  8893           0  92.327812  Stratum_4

[490 rows x 6 columns]

## Save this as a reranking and plot the entropy and utility

In [ ]:
# re_ranked_WO = pd.DataFrame(ress, columns = ['Idx','Gender_bins','Preds'])
# re_ranked_WO.to_csv("re_ranked_WO.csv")

# re_ranked_PLAIN = pd.DataFrame(ress, columns = ['Idx','Gender_bins','Preds'])
# re_ranked_PLAIN.to_csv("re_ranked_PLAIN.csv")