In [2]:
# Load library
import fairsearchcore as fsc
import pandas as pd
import numpy as np

In [4]:
# PLAIN DF * 200
dataframen = pd.read_csv("TWO_samlet_preds_index_ny_PLAIN.csv") 
dataframen_input = pd.read_csv("plain_seed24_gemmes.csv") ## denne er til brug da vi skulle regne RMSE på fair

#dfs = np.array_split(dataframen, 200)
#dfs[2][:50]

In [5]:
#dataframen_input.sort_values(by='Preds', ascending=False)[:50]

In [10]:
dfs[1]

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [16]:
#MERGESORT DF * 200
dataframen_merge = pd.read_csv('stort_mergesort_ranking.csv')
df_merge_use = dataframen_merge.copy()
df_merge_use = df_merge_use[["Unnamed: 0", "4", "3"]].rename(columns= {"Unnamed: 0": "Idx", "4":"Gender_bins", "3":"Preds"})
df_merge_BIG_split = np.array_split(df_merge_use, 200)

In [17]:
df_merge_BIG_split[2][:500]

       Idx  Gender_bins       Preds
8192  8192            1  100.000000
8193  8193            0   94.000000
8194  8194            1   94.000000
8195  8195            0   93.666667
8196  8196            1   92.666667
...    ...          ...         ...
8687  8687            0   73.333333
8688  8688            0   73.333333
8689  8689            0   73.333333
8690  8690            0   73.333333
8691  8691            1   73.333333

[500 rows x 3 columns]

In [6]:
# df_merge_BIG_split[2]

## NY FA*IR funktion: Maximize utility while maximizing fairness.

In [7]:
dataframen_for_RMSE = dataframen

dataframen_for_RMSE.loc[dataframen_for_RMSE.Gender_bins > 0, 'Gender_bins'] = 1
dataframen_for_RMSE.loc[dataframen_for_RMSE.Gender_bins < 0, 'Gender_bins'] = 0

In [8]:
# dataframen_for_RMSE=dataframen_for_RMSE.drop(columns={"Unnamed: 0"})
# dataframen_for_RMSE=dataframen_for_RMSE.rename(columns= {'Idx': "Unnamed: 0"})

In [9]:

# GUDF = pd.read_csv('GUDF.csv')
# dataframen_for_RMSE_new = pd.concat([dataframen_for_RMSE, GUDF.STRATUM], axis=1)

In [10]:
# df_try=dataframen_for_RMSE
df_try = dataframen_for_RMSE#[:10000]
df_try[:50]

    Unnamed: 0    Idx  Gender_bins      Preds
0            0   7490            1  92.565254
1            1  12018            1  92.565254
2            2  11864            1  92.565254
3            3  12016            0  92.565254
4            4   1089            0  92.477142
5            5  12328            0  92.477142
6            6  10992            1  92.477142
7            7   2607            0  92.477142
8            8   8492            1  92.477142
9            9   4874            0  92.477142
10          10   4900            0  92.430847
11          11  11800            0  92.372017
12          12   6070            1  92.195969
13          13   8766            0  92.195969
14          14  11651            0  92.195969
15          15  12063            0  92.195969
16          16   7510            0  92.090843
17          17  12112            0  91.599686
18          18  12028            0  91.588852
19          19   2308            1  91.542557
20          20  11260            1  91.455826
21          21   7342            1  91.439011
22          22   4293            0  91.429619
23          23  10846            1  91.412064
24          24   8893            0  91.392715
25          25   2648            0  91.314308
26          26  11866            0  91.314308
27          27   2137            0  91.307678
28          28  11321            0  91.297295
29          29   6179            0  91.297295
30          30    637            0  91.297295
31          31  11362            1  91.297295
32          32  11868            0  91.277679
33          33  12346            0  91.209183
34          34   6145            0  91.209183
35          35  10363            1  91.209183
36          36   8883            0  91.209183
37          37   4799            0  91.174652
38          38  11861            1  91.174210
39          39   9300            0  91.162888
40          40   8905            0  91.129669
41          41    118            0  91.085083
42          42  10046            0  91.085083
43          43  12202            0  91.021736
44          44   4499            0  91.021736
45          45   2774            0  90.991798
46          46  11230            1  90.979958
47          47  11197            0  90.979958
48          48  11642            0  90.979958
49          49   9099            0  90.979828

In [11]:
# If WO run this
# df_try['Gender_bins'] = df_try['Gender_bins'].str.strip('[]').astype(int)
# df_try

In [12]:
import warnings

In [18]:
def modified_FAIR(df, k, n_prefix, prop=-1 ):
    
    """" 
    Our fair algorithm inspired by Zehlike's FA*IR:
    df is predicted df. k is top k ranking from df of length N. n_prefix is desired prop for each n prefix. 
    prop is desired proportion with default value of the proportion of the protected group in the df. 
    
    Output is 'result' of a fair top-k ranking with desired proportion for the whole df and in every prefix
    
    """
    
    if prop<0:
        prop = len(df[df.Gender_bins == 1])/len(df)
        print("defualt proportios: ", prop)
        
    #we subtract by 1, because we are using 0-index
    n_prefix = int(n_prefix *k)-1

    # if k/n_prefix != int(k/n_prefix):
    #     warnings.warn('Please use 0.1 as 10 percent of the top-k as prefix')
    
    #split df in two df groups: protected and non-protected and ensure each of them are sorted
    #in descending order by Preds scores
    
    #protected (1=Female)
    dfp = df[df.Gender_bins == 1].sort_values(by='Preds', ascending=False).reset_index()
    #non-protected
    dfpn = df[df.Gender_bins == 0].sort_values(by='Preds', ascending=False).reset_index()
    
    #dfnew with of the top-k fair sorting of org. df
    #new df
    dfnew = pd.DataFrame(columns = df.columns)
    
    #print OBS if it's not possible to achieve the given prop for each n prefix for the whole top-k
    
    #for-loop for creating ranking in batches of prefix_n through k
    
    #desired number of protected candidates in each n batch
    prop_ok = int(n_prefix*prop)
    prop_pn = int(n_prefix - prop_ok)
        
    #index in each dataframe
    dfp_Idx = 0
    dfpn_Idx = 0
        
    for i in range(int(k/n_prefix)): #loop over number of n_prefixes in length k
        p_Idx = 0
        pn_Idx = 0
        
            
        if len(dfnew) >= k: #stop if desired k is achieved
            #print("500")
            break

        for j in range(n_prefix):
            if dfp.Preds.loc[dfp_Idx] > dfpn.Preds.loc[dfpn_Idx]:
                dfnew = dfnew.append(dfp.loc[dfp_Idx])
                p_Idx += 1
                dfp_Idx += 1
            else:
                dfnew = dfnew.append(dfpn.loc[dfpn_Idx])
                pn_Idx += 1
                dfpn_Idx += 1

            #if the proportion of nonprotected group is achieved within the prefix, add rest as protected 
            if pn_Idx == prop_pn:
                dfnew = dfnew.append(dfp.loc[dfp_Idx : dfp_Idx + (prop_ok-p_Idx)])
                dfp_Idx += (prop_ok-p_Idx)
                break
            #if the proportion of protected group is achieved within the prefix, add rest as non-protected
            elif p_Idx == prop_ok:
                dfnew = dfnew.append(dfpn.loc[dfpn_Idx : dfpn_Idx + (prop_pn-pn_Idx) ])
                dfpn_Idx += (prop_pn-pn_Idx)
                break


        dfnew = dfnew.drop(["index"], axis=1).reset_index()
                
    return dfnew

In [14]:
re_ranked_fair_for_RMSE = modified_FAIR(df_try, 4000, 0.0065, 0.40)
re_ranked_fair_for_RMSE.to_csv('re_ranked_fair_for_RMSE.csv')

### FAIR re-ranking of PLAIN XGBoost

In [21]:
RMSE_FAIR

        Unnamed: 0    Idx  Gender_bins      Preds     y_test
0                0   7490            1  92.565254  95.000000
1                1  12018            1  92.565254  99.000000
2                2  11864            1  92.565254  98.666667
3                3  12016            0  92.565254  99.333333
4                4   1089            0  92.477142  97.000000
...            ...    ...          ...        ...        ...
819195        4091   1195            0  23.099279  45.000000
819196        4092   1856            0  23.005428   5.000000
819197        4093   6742            0  23.005428  21.000000
819198        4094   3588            0  22.907692  17.000000
819199        4095   4258            0  22.907692   7.000000

[819200 rows x 5 columns]

In [24]:
RMSE_FAIR = pd.read_csv('RMSE_PLAIN.csv')
RMSE_FAIR = np.array_split(RMSE_FAIR, 200)

def fair_mange(df):
    tom_res = pd.DataFrame(columns = ['not_4_use','Idx','Gender_bins','Preds','y_test'])
    for i in range(200):
        ress = modified_FAIR(df[i], 4000, 0.0065, 0.40)
        # ress.to_csv(f"re_ranked_{i}.csv")
        tom_res = tom_res.append(ress)
        # print(ress)
    
    tom_res = tom_res.drop(['index','not_4_use'], axis=1)
    return tom_res.to_csv(f"RMSE_FAIR.csv")
fair_mange(RMSE_FAIR)

Check ratio of women out of total

In [ ]:
# # sum(ress.Gender_bins)/len(ress)
#print(ress.Gender_bins.value_counts())
#print(len(ress[ress.Gender_bins == 1]))
#print(len(ress))
# print(len(ress[ress.Gender_bins == 1])/len(ress))
print('{0:.05f}'.format(len(o33[o33.Gender_bins == 1])/len(o33)))

0.39798

### FAIR re-ranking of Mergesort

In [19]:
df_merge_BIG_split

[       Idx  Gender_bins      Preds
 0        0            1  97.666667
 1        1            0  96.666667
 2        2            0  95.000000
 3        3            0  93.666667
 4        4            0  93.333333
 ...    ...          ...        ...
 4091  4091            1  37.333333
 4092  4092            0  37.333333
 4093  4093            0  36.666667
 4094  4094            1  36.333333
 4095  4095            0  36.333333

 [4096 rows x 3 columns],
        Idx  Gender_bins       Preds
 4096  4096            1  100.000000
 4097  4097            1   97.666667
 4098  4098            0   92.333333
 4099  4099            1   91.000000
 4100  4100            0   91.000000
 ...    ...          ...         ...
 8187  8187            1   36.333333
 8188  8188            0   35.333333
 8189  8189            0   33.666667
 8190  8190            0   30.333333
 8191  8191            0   26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 8192    8192            1  100.000000
 8193    8193            0   94.000000
 8194    8194            1   94.000000
 8195    8195            0   93.666667
 8196    8196            1   92.666667
 ...      ...          ...         ...
 12283  12283            1   37.333333
 12284  12284            0   36.666667
 12285  12285            0   36.333333
 12286  12286            1   36.333333
 12287  12287            0   36.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 12288  12288            0  94.000000
 12289  12289            0  93.666667
 12290  12290            0  93.333333
 12291  12291            1  92.666667
 12292  12292            0  92.333333
 ...      ...          ...        ...
 16379  16379            0  37.000000
 16380  16380            0  36.666667
 16381  16381            1  36.333333
 16382  16382            0  36.333333
 16383  16383            0  35.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 16384  16384            1  94.000000
 16385  16385            0  93.666667
 16386  16386            0  93.333333
 16387  16387            0  90.666667
 16388  16388            0  90.333333
 ...      ...          ...        ...
 20475  20475            0  38.000000
 20476  20476            1  37.666667
 20477  20477            0  37.666667
 20478  20478            0  36.333333
 20479  20479            0  33.666667

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 20480  20480            1  100.000000
 20481  20481            1   97.666667
 20482  20482            0   95.000000
 20483  20483            0   93.666667
 20484  20484            0   93.000000
 ...      ...          ...         ...
 24571  24571            0   36.333333
 24572  24572            1   36.333333
 24573  24573            0   35.333333
 24574  24574            0   33.666667
 24575  24575            0   32.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 24576  24576            1  100.000000
 24577  24577            0   96.666667
 24578  24578            0   96.666667
 24579  24579            0   95.000000
 24580  24580            1   94.000000
 ...      ...          ...         ...
 28667  28667            1   38.000000
 28668  28668            0   37.666667
 28669  28669            1   37.333333
 28670  28670            0   37.333333
 28671  28671            1   36.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 28672  28672            1  100.000000
 28673  28673            1   97.666667
 28674  28674            0   96.666667
 28675  28675            0   95.000000
 28676  28676            0   93.666667
 ...      ...          ...         ...
 32763  32763            0   36.333333
 32764  32764            1   35.333333
 32765  32765            0   32.333333
 32766  32766            0   32.000000
 32767  32767            0   30.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 32768  32768            0  96.666667
 32769  32769            0  96.666667
 32770  32770            0  93.666667
 32771  32771            1  92.666667
 32772  32772            0  92.333333
 ...      ...          ...        ...
 36859  36859            1  36.333333
 36860  36860            0  35.333333
 36861  36861            0  33.666667
 36862  36862            0  32.000000
 36863  36863            0  26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 36864  36864            1  97.666667
 36865  36865            0  96.666667
 36866  36866            0  95.000000
 36867  36867            0  93.666667
 36868  36868            1  92.666667
 ...      ...          ...        ...
 40955  40955            1  37.333333
 40956  40956            0  36.666667
 40957  40957            1  35.333333
 40958  40958            0  32.333333
 40959  40959            0  26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 40960  40960            1  100.000000
 40961  40961            0   96.666667
 40962  40962            0   93.333333
 40963  40963            0   93.000000
 40964  40964            1   91.000000
 ...      ...          ...         ...
 45051  45051            1   36.333333
 45052  45052            1   36.333333
 45053  45053            0   36.333333
 45054  45054            0   33.666667
 45055  45055            0   30.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 45056  45056            1  97.666667
 45057  45057            0  96.666667
 45058  45058            0  93.000000
 45059  45059            1  92.666667
 45060  45060            0  92.333333
 ...      ...          ...        ...
 49147  49147            1  37.333333
 49148  49148            0  36.666667
 49149  49149            1  36.333333
 49150  49150            0  36.333333
 49151  49151            0  26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 49152  49152            1  97.666667
 49153  49153            0  96.666667
 49154  49154            0  94.000000
 49155  49155            0  93.666667
 49156  49156            0  93.000000
 ...      ...          ...        ...
 53243  53243            1  36.333333
 53244  53244            0  35.333333
 53245  53245            1  35.333333
 53246  53246            0  32.333333
 53247  53247            0  30.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 53248  53248            0  96.666667
 53249  53249            0  93.666667
 53250  53250            0  91.000000
 53251  53251            0  90.666667
 53252  53252            0  90.333333
 ...      ...          ...        ...
 57339  57339            0  36.333333
 57340  57340            0  36.333333
 57341  57341            0  36.333333
 57342  57342            1  35.333333
 57343  57343            0  32.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 57344  57344            0  94.000000
 57345  57345            0  93.666667
 57346  57346            0  93.333333
 57347  57347            1  92.666667
 57348  57348            0  92.333333
 ...      ...          ...        ...
 61435  61435            0  37.000000
 61436  61436            0  36.333333
 61437  61437            0  35.333333
 61438  61438            0  32.333333
 61439  61439            0  30.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 61440  61440            1  97.666667
 61441  61441            0  96.666667
 61442  61442            0  96.666667
 61443  61443            0  95.000000
 61444  61444            0  93.666667
 ...      ...          ...        ...
 65531  65531            0  36.333333
 65532  65532            1  36.333333
 65533  65533            1  36.333333
 65534  65534            0  35.333333
 65535  65535            0  33.666667

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 65536  65536            1  100.000000
 65537  65537            1   97.666667
 65538  65538            0   94.000000
 65539  65539            0   93.666667
 65540  65540            0   93.666667
 ...      ...          ...         ...
 69627  69627            0   36.666667
 69628  69628            0   36.333333
 69629  69629            0   36.333333
 69630  69630            0   36.333333
 69631  69631            0   32.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 69632  69632            1  97.666667
 69633  69633            0  93.000000
 69634  69634            1  92.666667
 69635  69635            0  92.333333
 69636  69636            0  90.666667
 ...      ...          ...        ...
 73723  73723            1  37.333333
 73724  73724            0  36.666667
 73725  73725            0  36.333333
 73726  73726            1  35.333333
 73727  73727            0  33.666667

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 73728  73728            1  100.000000
 73729  73729            1   97.666667
 73730  73730            0   94.000000
 73731  73731            0   93.333333
 73732  73732            0   93.000000
 ...      ...          ...         ...
 77819  77819            0   36.666667
 77820  77820            0   36.333333
 77821  77821            1   36.333333
 77822  77822            0   33.666667
 77823  77823            0   26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 77824  77824            1  100.000000
 77825  77825            1   97.666667
 77826  77826            0   95.000000
 77827  77827            0   94.000000
 77828  77828            1   92.666667
 ...      ...          ...         ...
 81915  81915            0   37.333333
 81916  81916            0   36.333333
 81917  81917            0   33.666667
 81918  81918            0   32.333333
 81919  81919            0   32.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 81920  81920            0  96.666667
 81921  81921            0  95.000000
 81922  81922            0  94.000000
 81923  81923            1  94.000000
 81924  81924            0  93.666667
 ...      ...          ...        ...
 86011  86011            0  36.666667
 86012  86012            0  36.333333
 86013  86013            0  36.333333
 86014  86014            0  35.333333
 86015  86015            0  26.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 86016  86016            0  93.333333
 86017  86017            0  93.000000
 86018  86018            1  92.666667
 86019  86019            0  90.000000
 86020  86020            0  89.666667
 ...      ...          ...        ...
 90107  90107            0  37.333333
 90108  90108            0  36.333333
 90109  90109            0  36.333333
 90110  90110            0  33.666667
 90111  90111            0  32.000000

 [4096 rows x 3 columns],
          Idx  Gender_bins      Preds
 90112  90112            1  97.666667
 90113  90113            1  94.000000
 90114  90114            0  93.666667
 90115  90115            0  93.000000
 90116  90116            1  92.666667
 ...      ...          ...        ...
 94203  94203            0  37.333333
 94204  94204            0  36.333333
 94205  94205            0  35.333333
 94206  94206            0  33.666667
 94207  94207            0  32.333333

 [4096 rows x 3 columns],
          Idx  Gender_bins       Preds
 94208  94208            1  100.000000
 94209  94209            0   94.000000
 94210  94210            1   94.000000
 94211  94211            0   93.000000
 94212  94212            0   92.333333
 ...      ...          ...         ...
 98299  98299            0   36.333333
 98300  98300            0   36.333333
 98301  98301            0   36.333333
 98302  98302            1   35.333333
 98303  98303            0   32.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins       Preds
 98304    98304            1  100.000000
 98305    98305            1   94.000000
 98306    98306            0   93.666667
 98307    98307            0   93.333333
 98308    98308            0   93.333333
 ...        ...          ...         ...
 102395  102395            0   36.333333
 102396  102396            0   36.333333
 102397  102397            1   35.333333
 102398  102398            0   35.333333
 102399  102399            0   30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 102400  102400            0  96.666667
 102401  102401            0  95.000000
 102402  102402            0  93.666667
 102403  102403            1  92.666667
 102404  102404            0  90.666667
 ...        ...          ...        ...
 106491  106491            1  36.333333
 106492  106492            0  33.666667
 106493  106493            0  32.000000
 106494  106494            0  30.333333
 106495  106495            0  26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 106496  106496            1  97.666667
 106497  106497            0  93.666667
 106498  106498            0  92.333333
 106499  106499            1  91.000000
 106500  106500            0  90.666667
 ...        ...          ...        ...
 110587  110587            0  37.666667
 110588  110588            1  37.333333
 110589  110589            1  37.333333
 110590  110590            0  36.333333
 110591  110591            0  36.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 110592  110592            1  94.000000
 110593  110593            1  92.666667
 110594  110594            0  90.666667
 110595  110595            0  90.333333
 110596  110596            1  89.333333
 ...        ...          ...        ...
 114683  114683            1  35.333333
 114684  114684            0  33.666667
 114685  114685            0  32.333333
 114686  114686            0  30.333333
 114687  114687            0  26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 114688  114688            0  96.666667
 114689  114689            1  94.000000
 114690  114690            0  93.333333
 114691  114691            0  91.333333
 114692  114692            0  89.666667
 ...        ...          ...        ...
 118779  118779            0  37.666667
 118780  118780            0  37.666667
 118781  118781            1  37.333333
 118782  118782            0  35.333333
 118783  118783            0  32.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 118784  118784            0  95.000000
 118785  118785            1  94.000000
 118786  118786            0  93.666667
 118787  118787            0  93.666667
 118788  118788            0  93.333333
 ...        ...          ...        ...
 122875  122875            1  35.333333
 122876  122876            0  33.666667
 122877  122877            0  32.333333
 122878  122878            0  32.000000
 122879  122879            0  30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 122880  122880            0  96.666667
 122881  122881            0  94.000000
 122882  122882            0  92.333333
 122883  122883            0  91.000000
 122884  122884            0  90.666667
 ...        ...          ...        ...
 126971  126971            0  37.333333
 126972  126972            0  36.666667
 126973  126973            0  36.333333
 126974  126974            1  36.333333
 126975  126975            0  30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins       Preds
 126976  126976            1  100.000000
 126977  126977            1   97.666667
 126978  126978            0   96.666667
 126979  126979            0   95.000000
 126980  126980            1   94.000000
 ...        ...          ...         ...
 131067  131067            0   36.666667
 131068  131068            0   36.666667
 131069  131069            1   36.333333
 131070  131070            0   32.333333
 131071  131071            0   30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 131072  131072            0  96.666667
 131073  131073            0  94.000000
 131074  131074            1  94.000000
 131075  131075            0  92.333333
 131076  131076            0  91.000000
 ...        ...          ...        ...
 135163  135163            0  36.333333
 135164  135164            1  35.333333
 135165  135165            0  33.666667
 135166  135166            0  30.333333
 135167  135167            0  26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 135168  135168            1  94.000000
 135169  135169            0  93.666667
 135170  135170            0  93.333333
 135171  135171            0  93.333333
 135172  135172            0  91.333333
 ...        ...          ...        ...
 139259  139259            0  36.666667
 139260  139260            0  36.333333
 139261  139261            1  36.333333
 139262  139262            1  35.333333
 139263  139263            0  30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 139264  139264            0  96.666667
 139265  139265            0  92.333333
 139266  139266            0  91.333333
 139267  139267            0  91.000000
 139268  139268            0  90.666667
 ...        ...          ...        ...
 143355  143355            1  37.666667
 143356  143356            1  37.333333
 143357  143357            0  37.333333
 143358  143358            0  36.666667
 143359  143359            0  35.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins       Preds
 143360  143360            1  100.000000
 143361  143361            0   96.666667
 143362  143362            0   96.666667
 143363  143363            0   93.666667
 143364  143364            0   93.666667
 ...        ...          ...         ...
 147451  147451            1   37.333333
 147452  147452            0   37.333333
 147453  147453            0   37.000000
 147454  147454            1   36.333333
 147455  147455            0   30.333333

 [4096 rows x 3 columns],
            Idx  Gender_bins       Preds
 147456  147456            1  100.000000
 147457  147457            0   96.666667
 147458  147458            0   96.666667
 147459  147459            0   95.000000
 147460  147460            1   94.000000
 ...        ...          ...         ...
 151547  151547            0   36.666667
 151548  151548            0   36.333333
 151549  151549            0   36.333333
 151550  151550            0   32.000000
 151551  151551            0   26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 151552  151552            1  97.666667
 151553  151553            0  94.000000
 151554  151554            1  92.666667
 151555  151555            0  92.333333
 151556  151556            0  91.333333
 ...        ...          ...        ...
 155643  155643            0  37.666667
 155644  155644            0  37.000000
 155645  155645            1  36.333333
 155646  155646            1  36.333333
 155647  155647            0  26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 155648  155648            1  97.666667
 155649  155649            0  96.666667
 155650  155650            0  95.000000
 155651  155651            0  94.000000
 155652  155652            1  94.000000
 ...        ...          ...        ...
 159739  159739            1  38.000000
 159740  159740            1  38.000000
 159741  159741            0  38.000000
 159742  159742            1  37.666667
 159743  159743            0  36.666667

 [4096 rows x 3 columns],
            Idx  Gender_bins       Preds
 159744  159744            1  100.000000
 159745  159745            0   96.666667
 159746  159746            0   95.000000
 159747  159747            0   94.000000
 159748  159748            0   93.000000
 ...        ...          ...         ...
 163835  163835            0   36.333333
 163836  163836            0   36.333333
 163837  163837            1   35.333333
 163838  163838            0   33.666667
 163839  163839            0   26.000000

 [4096 rows x 3 columns],
            Idx  Gender_bins      Preds
 163840  163840            1  97.666667
 163841  163841            0  96.666667
 163842  163842            1  94.000000

In [ ]:
modified_FAIR(dfs[1], 500, 0.33, 0.40)

     index  Unnamed: 0      Idx  Gender_bins      Preds
0        0         0.0   8893.0          0.0  92.327812
1        1         2.0   5376.0          0.0  92.289169
2        2         3.0  10892.0          0.0  92.289169
3        3         1.0   7332.0          0.0  92.289169
4        4        11.0  11986.0          0.0  92.241760
..     ...         ...      ...          ...        ...
490    293       494.0   4360.0          0.0  83.816170
491    294       499.0  10705.0          0.0  83.812927
492    295       498.0  11253.0          0.0  83.812927
493    296       497.0   9184.0          0.0  83.812927
494    297       496.0   9514.0          0.0  83.812927

[495 rows x 5 columns]

In [20]:
def fair_mange_merge(df):
    tom_res = pd.DataFrame(columns = ['not_4_use','Idx','Gender_bins','Preds'])
    for i in range(200):
        ress = modified_FAIR(df[i], 500, 0.01, 0.40)
        # ress.to_csv(f"re_ranked_{i}.csv")
        tom_res = tom_res.append(ress)
        # print(ress)
    
    tom_res = tom_res.drop(['index'], axis=1)
    return tom_res.to_csv(f"200_Merge_fair.csv") 
fair_mange_merge(df_merge_BIG_split)

In [34]:
try_merge = pd.read_csv("200_Merge_fair.csv")

     Unnamed: 0  not_4_use      Idx  Gender_bins       Preds
0             0        NaN  12328.0          0.0  100.000000
1             1        NaN  11196.0          0.0  100.000000
2             2        NaN   8883.0          0.0   99.666667
3             3        NaN  11188.0          1.0   99.000000
4             4        NaN  12018.0          1.0   99.000000
..          ...        ...      ...          ...         ...
995         495        NaN   7805.0          1.0   93.000000
996         496        NaN  10149.0          0.0   91.000000
997         497        NaN   9684.0          0.0   91.000000
998         498        NaN   4930.0          0.0   91.000000
999         499        NaN  11470.0          0.0   91.000000

[1000 rows x 5 columns]

# Ny FA*IR - grouped fairness

In [ ]:
df_try = dfs[1]

In [ ]:
#add STRATUM
GUDF = pd.read_csv('GUDF.csv')
GUDF["Idx"] = GUDF["Unnamed: 0"]
GUDF

,Unnamed: 0,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,QR_PRO,CR_PRO,CC_PRO,ENG_PRO,WC_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin,Idx
0,0,F,Stratum_4,PRIVATE,ACADEMIC,71,81,61,86,82,71,93,71,93,79,85.666667,74.666667,1,0
1,1,F,Stratum_5,PRIVATE,ACADEMIC,83,75,66,100,88,97,38,86,98,78,74.000000,76.333333,1,1
2,2,M,Stratum_2,PRIVATE,ACADEMIC,52,49,38,46,42,17,1,18,43,22,20.666667,43.000000,0,2
3,3,F,Stratum_2,PRIVATE,ACADEMIC,56,55,51,64,73,65,35,76,80,48,63.666667,59.666667,1,3
4,4,M,Stratum_4,PRIVATE,ACADEMIC,80,65,76,85,92,94,94,98,100,71,97.333333,77.666667,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,12406,M,Stratum_2,PRIVATE,ACADEMIC,67,69,70,67,81,88,71,86,87,65,81.333333,73.333333,0,12406
12407,12407,M,Stratum_2,PUBLIC,ACADEMIC,58,57,61,63,53,46,39,44,11,0,31.333333,57.000000,0,12407
12408,12408,M,Stratum_2,PRIVATE,ACADEMIC,66,69,75,70,58,98,88,90,81,87,86.333333,67.333333,0,12408
12409,12409,F,Stratum_3,PRIVATE,ACADEMIC,53,69,64,59,52,60,80,51,8,42,46.333333,61.666667,1,12409
12410,12410,M,Stratum_3,PUBLIC,ACADEMIC,79,65,62,77,73,83,95,91,79,47,88.333333,66.666667,0,12410

In [ ]:

df_try

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [ ]:
df_try.dtypes

Unnamed: 0       int64
Idx              int64
Gender_bins      int64
Preds          float64
dtype: object

In [ ]:
#Merge with Stratum column
GUDF = pd.read_csv('GUDF.csv')
GUDF["Idx"] = GUDF["Unnamed: 0"]
df_try = df_try.merge(GUDF[["Idx", "STRATUM"]], on="Idx")
#remove stratum = 0
df_try = df_try[df_try.STRATUM != "0"]

In [ ]:
df_try

      Unnamed: 0    Idx  Gender_bins      Preds    STRATUM
0              0   8893            0  92.327812  Stratum_4
1              1   7332            0  92.289169  Stratum_2
2              2   5376            0  92.289169  Stratum_2
3              3  10892            0  92.289169  Stratum_2
4              4   5248            0  92.241760  Stratum_3
...          ...    ...          ...        ...        ...
4091        4091   9686            1  22.984625  Stratum_1
4092        4092   3588            0  22.632490  Stratum_1
4093        4093   4258            0  22.602186  Stratum_1
4094        4094  10441            1  22.349106  Stratum_1
4095        4095   6366            0  22.125526  Stratum_1

[4091 rows x 5 columns]

In [ ]:
df_grouped = df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count()

In [ ]:
df_grouped.iloc[0][0]

357

In [ ]:
len_df_wo_0 = dfs[1]

In [ ]:
df_grouped["init_prop"]
df_grouped

KeyError: 'init_prop'

In [ ]:
#counts
df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count() #.drop(["0"], axis=0)

                       Preds
STRATUM   Gender_bins
Stratum_1 0              357
          1              247
Stratum_2 0              752
          1              517
Stratum_3 0              787
          1              556
Stratum_4 0              323
          1              206
Stratum_5 0              129
          1               89
Stratum_6 0               92
          1               36

In [ ]:
#Get ratio

#1. counts
df_count = df_try[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count() #.drop(["0"], axis=0)

#len of df without STRATUM = 0
len_strats = df_count.Preds.sum()

#Divide df_counts with len
df_count["ratio"] = df_count.Preds/len_strats

df_count

                       Preds     ratio
STRATUM   Gender_bins
Stratum_1 0              357  0.087265
          1              247  0.060376
Stratum_2 0              752  0.183818
          1              517  0.126375
Stratum_3 0              787  0.192374
          1              556  0.135908
Stratum_4 0              323  0.078954
          1              206  0.050354
Stratum_5 0              129  0.031533
          1               89  0.021755
Stratum_6 0               92  0.022488
          1               36  0.008800

In [ ]:
df_count.iloc[1][1]

0.06037643607919824

In [ ]:
df_try[(df_try.Gender_bins == 1) & (df_try.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()

     index  Unnamed: 0    Idx  Gender_bins      Preds    STRATUM
0      111         111   5529            1  90.070946  Stratum_1
1      200         200   8859            1  88.187462  Stratum_1
2      216         216   6435            1  88.024071  Stratum_1
3      315         315   8217            1  86.554169  Stratum_1
4      323         323   9624            1  86.473778  Stratum_1
..     ...         ...    ...          ...        ...        ...
242   4083        4083    875            1  23.587250  Stratum_1
243   4084        4084   9926            1  23.571953  Stratum_1
244   4089        4089   3475            1  23.242464  Stratum_1
245   4091        4091   9686            1  22.984625  Stratum_1
246   4094        4094  10441            1  22.349106  Stratum_1

[247 rows x 6 columns]

In [ ]:
df_try.Preds.iloc[0]

92.32781219482422

In [ ]:
n_cand0 = np.array([0,0,0,5])
cand_prop0 = np.array([1,2,3,4])

In [ ]:
if n_cand0.any()<cand_prop0.any():
    print("true")

In [ ]:
q = [n_cand0[i]>cand_prop0[i] for i in range(len(cand_prop0))]

In [ ]:
np.where([n_cand0[i]>cand_prop0[i] for i in range(len(cand_prop0))])[0]

array([3])

In [ ]:
arr_list = ["df_s1_g0","df_s2_g0","df_s3_g0","df_s4_g0","df_s5_g0","df_s6_g0",
            "df_s1_g1","df_s2_g1","df_s3_g1","df_s4_g1","df_s5_g1","df_s6_g1"]

In [ ]:
eval(arr_list[int(max_arr_idx)]+"_idx")

In [ ]:
def our_grouped_FAIR(df, k, n_prefix):
    
    """" 
    Our grouped fair algorithm inspired by Zehlike's FA*IR for multiple grouped:
    df is predicted df. k is top k ranking from df of length N. n_prefix is desired proportion for each n prefix
    as percentage e.g. "0.1"=10%. 

    Output is result of a grouped fair top-k ranking with desired proportion for the whole df and in every prefix,
    and added "Stratum-gender" column.
    
    """
    
    #Merge with Stratum column
    GUDF = pd.read_csv('GUDF.csv')
    GUDF["Idx"] = GUDF["Unnamed: 0"]
    df = df.merge(GUDF[["Idx", "STRATUM"]], on="Idx")
    #remove stratum = 0
    df = df[df.STRATUM != "0"]

    #we subtract by 0, because we are using 0-index
    n_prefix = int(n_prefix*k)-1
    print(n_prefix)
    
    #new df to append new ranking to
    print(df.columns)
    dfnew = pd.DataFrame(columns = df.columns)
    

    ## Split df in groups by gender-stratum: protected and non-protected and ensure each of them are sorted
    #in descending order by Preds scores
    
    #Gender = 0
    df_s1_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()
    df_s2_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_2")].sort_values(by='Preds', ascending=False).reset_index()
    df_s3_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_3")].sort_values(by='Preds', ascending=False).reset_index()
    df_s4_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_4")].sort_values(by='Preds', ascending=False).reset_index()
    df_s5_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_5")].sort_values(by='Preds', ascending=False).reset_index()
    df_s6_g0 = df[(df.Gender_bins == 0) & (df.STRATUM =="Stratum_6")].sort_values(by='Preds', ascending=False).reset_index()
    
    #Gender = 1
    df_s1_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_1")].sort_values(by='Preds', ascending=False).reset_index()
    df_s2_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_2")].sort_values(by='Preds', ascending=False).reset_index()
    df_s3_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_3")].sort_values(by='Preds', ascending=False).reset_index()
    df_s4_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_4")].sort_values(by='Preds', ascending=False).reset_index()
    df_s5_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_5")].sort_values(by='Preds', ascending=False).reset_index()
    df_s6_g1 = df[(df.Gender_bins == 1) & (df.STRATUM =="Stratum_6")].sort_values(by='Preds', ascending=False).reset_index()
    
    
    ## Get ratio of each stratum-gender pair in the initial dataframe
    
    #count number of candidates in initial df
    df_count = df[["STRATUM","Gender_bins","Preds"]].groupby(["STRATUM", "Gender_bins"], axis=0).count()


    #Divide df_counts with len
    df_count["ratio"] = df_count.Preds/len(df) #then df_count[0][0] will be (Stratum_1, 0) and it's proportion
            
    #desired number of protected candidates in each n batch
    prop_s1_g0 = int(n_prefix*df_count["ratio"].iloc[0])
    prop_s2_g0 = int(n_prefix*df_count["ratio"].iloc[2])
    prop_s3_g0 = int(n_prefix*df_count["ratio"].iloc[4])
    prop_s4_g0 = int(n_prefix*df_count["ratio"].iloc[6])
    prop_s5_g0 = int(n_prefix*df_count["ratio"].iloc[8])
    prop_s6_g0 = int(n_prefix*df_count["ratio"].iloc[10])

    prop_s1_g1 = int(n_prefix*df_count["ratio"].iloc[1])
    prop_s2_g1 = int(n_prefix*df_count["ratio"].iloc[3])
    prop_s3_g1 = int(n_prefix*df_count["ratio"].iloc[5])
    prop_s4_g1 = int(n_prefix*df_count["ratio"].iloc[7])
    prop_s5_g1 = int(n_prefix*df_count["ratio"].iloc[9])
    prop_s6_g1 = int(n_prefix*df_count["ratio"].iloc[11])

    
    # array with proportions 
    cand_prop = np.array([prop_s1_g0, prop_s2_g0, prop_s3_g0, prop_s4_g0, prop_s5_g0, prop_s6_g0,
                         prop_s1_g1, prop_s2_g1, prop_s3_g1, prop_s4_g1, prop_s5_g1, prop_s6_g1])
    
    print(cand_prop)
    
    ## For-loop for creating ranking in batches of prefix_n through k
    
    #index in each dataframe    
    df_s1_g0_idx = 0
    df_s2_g0_idx = 0
    df_s3_g0_idx = 0
    df_s4_g0_idx = 0
    df_s5_g0_idx = 0
    df_s6_g0_idx = 0  
    
    df_s1_g1_idx = 0
    df_s2_g1_idx = 0
    df_s3_g1_idx = 0
    df_s4_g1_idx = 0
    df_s5_g1_idx = 0
    df_s6_g1_idx = 0 

    arr_list = ["df_s1_g0","df_s2_g0","df_s3_g0","df_s4_g0","df_s5_g0","df_s6_g0",
                "df_s1_g1","df_s2_g1","df_s3_g1","df_s4_g1","df_s5_g1","df_s6_g1"]

    
    for i in range(int(k/n_prefix)): #loop over number of n_prefixes in length k
        #number of candidates in prefix of each group
        s1_g0_idx = 0
        s2_g0_idx = 0
        s3_g0_idx = 0
        s4_g0_idx = 0
        s5_g0_idx = 0
        s6_g0_idx = 0  
    
        s1_g1_idx = 0
        s2_g1_idx = 0
        s3_g1_idx = 0
        s4_g1_idx = 0
        s5_g1_idx = 0
        s6_g1_idx = 0 
        #print("i=",i)
        
        print(s4_g0_idx)
        
        n_cand = np.array([s1_g0_idx,s2_g0_idx,s3_g0_idx,s4_g0_idx,s5_g0_idx,s6_g0_idx,
                          s1_g1_idx,s2_g1_idx,s3_g1_idx,s4_g1_idx,s5_g1_idx,s6_g1_idx])
        
        for j in range(n_prefix):
            
        #Check if number of candidates is less than proportion
            
            if all([n_cand[ki]<=cand_prop[ki] for ki in range(len(cand_prop))]):
                print("if true")
                arr_idx = np.array([df_s1_g0.Preds.iloc[df_s1_g0_idx],df_s2_g0.Preds.iloc[df_s2_g0_idx],
                                    df_s3_g0.Preds.iloc[df_s3_g0_idx],df_s4_g0.Preds.iloc[df_s4_g0_idx],
                                    df_s5_g0.Preds.iloc[df_s5_g0_idx],df_s6_g0.Preds.iloc[df_s6_g0_idx],
                                    df_s1_g1.Preds.iloc[df_s1_g1_idx],df_s2_g1.Preds.iloc[df_s2_g1_idx],
                                    df_s3_g1.Preds.iloc[df_s3_g1_idx],df_s4_g1.Preds.iloc[df_s4_g1_idx],
                                    df_s5_g1.Preds.iloc[df_s5_g1_idx],df_s6_g1.Preds.iloc[df_s6_g1_idx]])
                max_arr_idx = np.where(arr_idx == np.amax(arr_idx))[0][0] #make random choice da flere har den samme pred val.
                print("arr_idx",arr_idx)
                
                dfnew = dfnew.append(eval(arr_list[max_arr_idx]).loc[eval(arr_list[max_arr_idx]+"_idx")])
                
                exec(arr_list[int(max_arr_idx)]+"_idx" '+=' '1')
                
                print("exec", eval(arr_list[int(max_arr_idx)]+"_idx"))
                
                exec(arr_list[int(max_arr_idx)][3:]+"_idx" '+=' '1')
                
                print(s4_g0_idx)

                #break

            #else if num of candidates in n_prefix is equal to or higher than cand_proportion,
            #only add max of the others.

            else:
                print("else true")
                list_greater = np.where([n_cand[ki]>=cand_prop[ki] for ki in range(len(cand_prop))])[0]
                arr_idx = np.array([df_s1_g0.Preds.iloc[df_s1_g0_idx],df_s2_g0.Preds.iloc[df_s2_g0_idx],
                                    df_s3_g0.Preds.iloc[df_s3_g0_idx],df_s4_g0.Preds.iloc[df_s4_g0_idx],
                                    df_s5_g0.Preds.iloc[df_s5_g0_idx],df_s6_g0.Preds.iloc[df_s6_g0_idx],
                                    df_s1_g1.Preds.iloc[df_s1_g1_idx],df_s2_g1.Preds.iloc[df_s2_g1_idx],
                                    df_s3_g1.Preds.iloc[df_s3_g1_idx],df_s4_g1.Preds.iloc[df_s4_g1_idx],
                                    df_s5_g1.Preds.iloc[df_s5_g1_idx],df_s6_g1.Preds.iloc[df_s6_g1_idx]])
                arr_idx = np.delete(arr_idx, list_greater)
                
                max_arr_idx = np.where(arr_idx == np.amax(arr_idx))[0][0]
                dfnew = dfnew.append(eval(arr_list[max_arr_idx]).loc[eval(arr_list[max_arr_idx]+"_idx")])

                exec(arr_list[max_arr_idx]+"_idx" '+=' '1')
                exec(arr_list[max_arr_idx][3:]+"_idx" '+=' '1')
                #break



        dfnew = dfnew.drop(["index"], axis=1).reset_index()
                
    return dfnew

In [ ]:
df_try

      Unnamed: 0    Idx  Gender_bins      Preds
4096           0   8893            0  92.327812
4097           1   7332            0  92.289169
4098           2   5376            0  92.289169
4099           3  10892            0  92.289169
4100           4   5248            0  92.241760
...          ...    ...          ...        ...
8187        4091   9686            1  22.984625
8188        4092   3588            0  22.632490
8189        4093   4258            0  22.602186
8190        4094  10441            1  22.349106
8191        4095   6366            0  22.125526

[4096 rows x 4 columns]

In [ ]:
df_grouped_ranked = our_grouped_FAIR(df_try, 500, 0.1)

49
Index(['Unnamed: 0', 'Idx', 'Gender_bins', 'Preds', 'STRATUM'], dtype='object')
[4 9 9 3 1 1 2 6 6 2 1 0]
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025

 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]

exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0
if true
arr_idx [90.91316986 92.28916931 92.24176025 92.32781219 92.24176025 92.24176025
 90.07094574 90.53606415 91.68729401 91.68729401 91.77334595 91.68729401]
exec 0
0

In [ ]:
df_grouped_ranked

     index Unnamed: 0   Idx Gender_bins      Preds    STRATUM
0        0          0  8893           0  92.327812  Stratum_4
1        1          0  8893           0  92.327812  Stratum_4
2        2          0  8893           0  92.327812  Stratum_4
3        3          0  8893           0  92.327812  Stratum_4
4        4          0  8893           0  92.327812  Stratum_4
..     ...        ...   ...         ...        ...        ...
485      0          0  8893           0  92.327812  Stratum_4
486      0          0  8893           0  92.327812  Stratum_4
487      0          0  8893           0  92.327812  Stratum_4
488      0          0  8893           0  92.327812  Stratum_4
489      0          0  8893           0  92.327812  Stratum_4

[490 rows x 6 columns]

## Save this as a reranking and plot the entropy and utility

In [ ]:
# re_ranked_WO = pd.DataFrame(ress, columns = ['Idx','Gender_bins','Preds'])
# re_ranked_WO.to_csv("re_ranked_WO.csv")

# re_ranked_PLAIN = pd.DataFrame(ress, columns = ['Idx','Gender_bins','Preds'])
# re_ranked_PLAIN.to_csv("re_ranked_PLAIN.csv")