# Filtering and cleaning of dataframe to save for use

Load packages

In [25]:
## Only run this block the first time you run the script 
# pip install xlrd
# pip install openpyxl

In [4]:
# Packages and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load initial data

In [27]:
# Data 
df = pd.read_excel("data_academic_performance.xlsx")

# settings to display all columns
pd.set_option("display.max_columns", None)

# display the dataframe head
# df.head()

In [28]:
# Dropping irrelevant columns and saving the dataframe
# df.drop(["Unnamed: 9","COD_S11", "EDU_FATHER" ,"EDU_MOTHER" ,"OCC_FATHER" ,"OCC_MOTHER" ,"SISBEN" ,"PEOPLE_HOUSE" ,"INTERNET" ,"TV" ,"COMPUTER" ,"WASHING_MCH" ,"MIC_OVEN" ,"CAR" ,"DVD" ,"FRESH" ,"PHONE" ,"MOBILE" ,"REVENUE" ,"JOB" ,"SCHOOL_NAME" ,"SCHOOL_NAT" ,"SCHOOL_TYPE" ,"MAT_S11" ,"BIO_S11","Cod_SPro" ,"UNIVERSITY" ,"ACADEMIC_PROGRAM" ,"QR_PRO","WC_PRO" ,"FEP_PRO" ,"G_SC" ,"PERCENTILE" ,"2ND_DECILE" ,"QUARTILE" ,"SEL" ,"SEL_IHE"] , inplace=True, axis=1)

In [29]:
df.drop(["Unnamed: 9","COD_S11", "EDU_FATHER" ,"EDU_MOTHER" ,"OCC_FATHER" ,"OCC_MOTHER" ,"SISBEN" ,"PEOPLE_HOUSE" ,"INTERNET" ,"TV" ,"COMPUTER" ,"WASHING_MCH" ,"MIC_OVEN" ,"CAR" ,"DVD" ,"FRESH" ,"PHONE" ,"MOBILE" ,"REVENUE" ,"JOB" ,"SCHOOL_NAME" ,"Cod_SPro" ,"UNIVERSITY" ,"ACADEMIC_PROGRAM"  ,"G_SC" ,"PERCENTILE" ,"2ND_DECILE" ,"QUARTILE" ,"SEL" ,"SEL_IHE","FEP_PRO"] , inplace=True, axis=1) #"QR_PRO","WC_PRO" ,"FEP_PRO"

In [30]:
df

,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,QR_PRO,CR_PRO,CC_PRO,ENG_PRO,WC_PRO
0,F,Stratum 4,PRIVATE,ACADEMIC,71,81,61,86,82,71,93,71,93,79
1,F,Stratum 5,PRIVATE,ACADEMIC,83,75,66,100,88,97,38,86,98,78
2,M,Stratum 2,PRIVATE,ACADEMIC,52,49,38,46,42,17,1,18,43,22
3,F,Stratum 2,PRIVATE,ACADEMIC,56,55,51,64,73,65,35,76,80,48
4,M,Stratum 4,PRIVATE,ACADEMIC,80,65,76,85,92,94,94,98,100,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum 2,PRIVATE,ACADEMIC,67,69,70,67,81,88,71,86,87,65
12407,M,Stratum 2,PUBLIC,ACADEMIC,58,57,61,63,53,46,39,44,11,0
12408,M,Stratum 2,PRIVATE,ACADEMIC,66,69,75,70,58,98,88,90,81,87
12409,F,Stratum 3,PRIVATE,ACADEMIC,53,69,64,59,52,60,80,51,8,42
12410,M,Stratum 3,PUBLIC,ACADEMIC,79,65,62,77,73,83,95,91,79,47

In [32]:
# mean score of highschool and of college
# df["COL_GRADE_AVG"] = df[["CR_PRO", "CC_PRO", "ENG_PRO"]].mean(axis=1)
df["COL_GRADE_AVG"] = df[["CR_PRO", "CC_PRO", "ENG_PRO","QR_PRO","WC_PRO" ]].mean(axis=1)

# df["HI_GRADE_AVG"] = df[["CR_S11", "CC_S11", "ENG_S11"]].mean(axis=1)
df["HI_GRADE_AVG"] = df[["CR_S11", "CC_S11", "ENG_S11", 'BIO_S11','MAT_S11']].mean(axis=1)

In [33]:
# Replace spaces in stratum values with '_'
df.replace(' ','_',regex=True,inplace=True)

In [34]:
# Creating the dummy columns of Female and Male
df_one = pd.get_dummies(df["GENDER"])

# Females equals 1 and Men 0
df["GENDER_bin"] = df_one.F

#final df
df

,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,QR_PRO,CR_PRO,CC_PRO,ENG_PRO,WC_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,PRIVATE,ACADEMIC,71,81,61,86,82,71,93,71,93,79,81.4,76.2,1
1,F,Stratum_5,PRIVATE,ACADEMIC,83,75,66,100,88,97,38,86,98,78,79.4,82.4,1
2,M,Stratum_2,PRIVATE,ACADEMIC,52,49,38,46,42,17,1,18,43,22,20.2,45.4,0
3,F,Stratum_2,PRIVATE,ACADEMIC,56,55,51,64,73,65,35,76,80,48,60.8,59.8,1
4,M,Stratum_4,PRIVATE,ACADEMIC,80,65,76,85,92,94,94,98,100,71,91.4,79.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,PRIVATE,ACADEMIC,67,69,70,67,81,88,71,86,87,65,79.4,70.8,0
12407,M,Stratum_2,PUBLIC,ACADEMIC,58,57,61,63,53,46,39,44,11,0,28.0,58.4,0
12408,M,Stratum_2,PRIVATE,ACADEMIC,66,69,75,70,58,98,88,90,81,87,88.8,67.6,0
12409,F,Stratum_3,PRIVATE,ACADEMIC,53,69,64,59,52,60,80,51,8,42,48.2,59.4,1
12410,M,Stratum_3,PUBLIC,ACADEMIC,79,65,62,77,73,83,95,91,79,47,79.0,71.2,0

In [35]:
#print max and min for HI average grades and COL average grades, to use in the report
print("hi max: ", df.HI_GRADE_AVG.max())
print("hi min: ", df.HI_GRADE_AVG.min())
print("col max: ", df.COL_GRADE_AVG.max())
print("col min: ", df.COL_GRADE_AVG.min())

hi max:  95.6
hi min:  35.8
col max:  100.0
col min:  3.0

In [37]:
df.to_csv("df_sum_score_ex.csv")

# Normalized dataframe
Rescale the feature to range [0;1] by subtracting the minimum value of the feature then dividing by the range.

In [9]:
#apply normalization to filtered original dataframe
dfn = df.copy()

# apply normalization techniques
for column in dfn.columns:
    try:
        dfn[column] = (dfn[column] - dfn[column].min()) / (dfn[column].max() - dfn[column].min()) 
    except:
        pass

#view normalized data
dfn

,GENDER,STRATUM,CR_S11,CC_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,0.750000,0.61,0.756757,0.929293,0.707071,0.929293,0.855219,0.657658,1.0
1,F,Stratum_5,0.671053,0.66,0.837838,0.373737,0.858586,0.979798,0.737374,0.680180,1.0
2,M,Stratum_2,0.328947,0.38,0.216216,0.000000,0.171717,0.424242,0.198653,0.229730,0.0
3,F,Stratum_2,0.407895,0.51,0.635135,0.343434,0.757576,0.797980,0.632997,0.454955,1.0
4,M,Stratum_4,0.539474,0.76,0.891892,0.939394,0.979798,1.000000,0.973064,0.698198,0.0
...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,0.592105,0.70,0.743243,0.707071,0.858586,0.868687,0.811448,0.639640,0.0
12407,M,Stratum_2,0.434211,0.61,0.364865,0.383838,0.434343,0.101010,0.306397,0.418919,0.0
12408,M,Stratum_2,0.592105,0.75,0.432432,0.878788,0.898990,0.808081,0.861953,0.558559,0.0
12409,F,Stratum_3,0.592105,0.64,0.351351,0.797980,0.505051,0.070707,0.457912,0.481982,1.0
12410,M,Stratum_3,0.539474,0.62,0.635135,0.949495,0.909091,0.787879,0.882155,0.549550,0.0

Save normalized df

In [10]:
dfn.to_csv("df_normalized_score.csv")

# Standardized dataframe
Subtract mean and divide by standard deviation

In [11]:
#apply standardization to filtered original dataframe
dfs = df.copy()

# apply standardixation techniques

#df0["COL_GRADE_AVG"] = (df0["COL_GRADE_AVG_org"] - df0["COL_GRADE_AVG_org"].mean())/df0["COL_GRADE_AVG_org"].std() 
#df0["HI_GRADE_AVG\"] = (df0[\"HI_GRADE_AVG_org\"] - df0[\"HI_GRADE_AVG_org\"].mean())/df0[\"HI_GRADE_AVG_org\"].std()


for column in dfs.columns:
    try:
        dfs[column] = (dfs[column] - dfs[column].mean())/dfs[column].std()  
    except:
        pass
    
#Check means are 0 and std 1
print("mean column HI grade: ", dfs.HI_GRADE_AVG.mean(), "std column HI grade: ", dfs.HI_GRADE_AVG.std(),)
print("mean column COL grade: ", dfs.COL_GRADE_AVG.mean(), "std column COL grade: ", dfs.COL_GRADE_AVG.std(),)
    
#view normalized data
dfs

mean column HI grade:  -4.717486215988418e-16 std column HI grade:  1.0
mean column COL grade:  1.0534192521139186e-16 std column COL grade:  1.0

,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,PRIVATE,ACADEMIC,0.562526,2.016939,0.029131,1.976314,1.412733,1.113281,0.407467,1.000257,0.995599,1.371666,1.208684
1,F,Stratum_5,PRIVATE,ACADEMIC,1.573167,1.418487,0.523176,3.231146,1.832378,-0.874678,0.924854,1.196373,0.484028,1.540112,1.208684
2,M,Stratum_2,PRIVATE,ACADEMIC,-1.037656,-1.174802,-2.243479,-1.608922,-1.384905,-2.212033,-1.420633,-0.960904,-1.854585,-1.828806,-0.827279
3,F,Stratum_2,PRIVATE,ACADEMIC,-0.700776,-0.576351,-0.958960,0.004434,0.783264,-0.983113,0.579930,0.490355,0.030921,-0.144347,1.208684
4,M,Stratum_4,PRIVATE,ACADEMIC,1.320507,0.421068,1.511268,1.886683,2.112142,1.149426,1.338764,1.274820,1.507171,1.674869,-0.827279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,PRIVATE,ACADEMIC,0.225646,0.820036,0.918413,0.273327,1.342792,0.318097,0.924854,0.764918,0.805587,1.236910,-0.827279
12407,M,Stratum_2,PUBLIC,ACADEMIC,-0.532335,-0.376867,0.029131,-0.085197,-0.615555,-0.838534,-0.523829,-2.216048,-1.386863,-0.413860,-0.827279
12408,M,Stratum_2,PRIVATE,ACADEMIC,0.141425,0.820036,1.412458,0.542220,-0.265850,0.932558,1.062824,0.529578,1.024832,0.630504,-0.827279
12409,F,Stratum_3,PRIVATE,ACADEMIC,-0.953436,0.820036,0.325558,-0.443720,-0.685496,0.643400,-0.282382,-2.333717,-0.729128,0.057788,1.208684
12410,M,Stratum_3,PUBLIC,ACADEMIC,1.236287,0.421068,0.127940,1.169636,0.783264,1.185571,1.097317,0.451132,1.112530,0.563126,-0.827279

Save standardized df

In [12]:
dfs.to_csv("df_standardized_score_ex.csv")

## X_test with STRATUM + y_test

In [17]:
X_test = pd.read_csv("X_test_raw.csv")
y_test = pd.read_csv("y_test_raw.csv")

In [14]:
df_to_xtest = df.copy()
df_to_xtest = df_to_xtest.reset_index()
df_to_xtest = df_to_xtest.rename(columns={"index":"Unnamed: 0"})

In [10]:
X_test_STRATUM = X_test.merge(df_to_xtest[["STRATUM", "Unnamed: 0"]], on="Unnamed: 0")

In [16]:
X_test_STRATUM

,Unnamed: 0,HI_GRADE_AVG,GENDER_bin,STRATUM_0,STRATUM_Stratum_1,STRATUM_Stratum_2,STRATUM_Stratum_3,STRATUM_Stratum_4,STRATUM_Stratum_5,STRATUM_Stratum_6,STRATUM
0,11423,74.333333,1,0,0,0,0,1,0,0,Stratum_4
1,8153,75.000000,0,0,1,0,0,0,0,0,Stratum_1
2,12100,74.666667,0,0,0,0,1,0,0,0,Stratum_3
3,1499,47.666667,0,0,1,0,0,0,0,0,Stratum_1
4,7670,61.666667,0,0,0,0,0,1,0,0,Stratum_4
...,...,...,...,...,...,...,...,...,...,...,...
4091,6782,62.000000,0,0,0,1,0,0,0,0,Stratum_2
4092,2544,48.666667,1,0,0,0,1,0,0,0,Stratum_3
4093,5419,76.000000,1,0,0,0,1,0,0,0,Stratum_3
4094,7810,66.666667,0,0,0,0,1,0,0,0,Stratum_3
4095,3467,60.000000,1,0,1,0,0,0,0,0,Stratum_1

In [18]:
X_test_STRATUM_col = pd.merge(X_test_STRATUM.copy(), y_test, on="Unnamed: 0") #Inner, right are default

In [20]:
X_test_STRATUM_col.to_csv("X_test_STRATUM_y_test.csv")

#### Make list of paired lists

TODO skal dette herunder slettes???

In [14]:
df_document_features = df.copy()
df_document_features = df_document_features[["GENDER_bin", "HI_GRADE_AVG"]]

In [15]:
df.index.values

array([    0,     1,     2, ..., 12408, 12409, 12410], dtype=int64)

In [16]:
df_document_features = df_document_features.values.tolist()

In [17]:
doc_features = np.array(df_document_features)

In [18]:
#scores
doc_scores = df["COL_GRADE_AVG"].values
doc_scores

array([85.66666667, 74.        , 20.66666667, ..., 86.33333333,
       46.33333333, 88.33333333])

# Basic stats

In [6]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("df_sum_score_ex.csv")


df.groupby('GENDER').agg(['mean', 'median', 'std', 'count'])

         Unnamed: 0                               MAT_S11                    \
               mean  median          std count       mean median        std
GENDER
F       6340.226056  6405.0  3558.289057  5043  61.932382     61  11.169655
M       6112.445033  6096.5  3596.944706  7368  65.955483     65  12.063491

                 CR_S11                             CC_S11                    \
       count       mean median        std count       mean median        std
GENDER
F       5043  60.895300     61   9.873563  5043  59.959944     60   9.519411
M       7368  60.698426     61  10.128695  7368  61.215255     61  10.482293

                BIO_S11                            ENG_S11                    \
       count       mean median        std count       mean median        std
GENDER
F       5043  62.268293     62  10.529873  5043  61.451120     59  13.788398
M       7368  65.101927     65  11.425222  7368  62.040581     59  14.632306

                 QR_PRO                             CR_PRO                    \
       count       mean median        std count       mean median        std
GENDER
F       5043  71.892723     78  24.118522  5043  61.338687     66  27.322031
M       7368  81.198561     89  20.801062  7368  62.788409     69  27.886453

                 CC_PRO                            ENG_PRO                    \
       count       mean median        std count       mean median        std
GENDER
F       5043  58.573865     63  27.916715  5043  66.532421     72  24.757032
M       7368  59.606270     65  29.699867  7368  68.159473     76  25.969142

                 WC_PRO                         COL_GRADE_AVG         \
       count       mean median        std count          mean median
GENDER
F       5043  56.618084     60  29.227135  5043     62.991156   64.6
M       7368  51.708469     53  30.361654  7368     64.692237   66.8

                        HI_GRADE_AVG                        GENDER_bin         \
              std count         mean median       std count       mean median
GENDER
F       19.479054  5043    61.301408   60.8  9.190767  5043          1      1
M       19.447841  7368    63.002334   62.6  9.881857  7368          0      0


        std count
GENDER
F       0.0  5043
M       0.0  7368

In [8]:
# Create subset of dataframe to use for plot
df = df.copy()
# df = df_norm.copy()
# df = df_stand.copy()

df_gen_soc_hc = df[['HI_GRADE_AVG', 'COL_GRADE_AVG', 'GENDER', 'STRATUM']]

# Columns are renamed to use in plot
df_gen_soc_hc = df_gen_soc_hc.rename(columns = {"HI_GRADE_AVG":"HI", "COL_GRADE_AVG":"COL"})
# Create dataframe with one column of both "HI" and "COL" and another column with respective average HI or COL grade
 # There will be 2*rows of the original df as there will be a "HI" and "COL" for each candidate
df_try = pd.melt(df_gen_soc_hc, id_vars=['GENDER', 'STRATUM']) 
df_try = df_try.rename(columns={"variable":"Average_grade"}) # rename columns to use for plot

#Show dataframe used for plotting
df_try.groupby(['GENDER','STRATUM']).agg(['mean', 'median', 'std', 'count'])

                      value
                       mean median        std count
GENDER STRATUM
F      0          55.616667   55.9   6.531300    12
       Stratum_1  55.622553   55.6  14.675860  1410
       Stratum_2  59.498054   59.4  15.026696  3288
       Stratum_3  62.873187   62.8  14.393919  3364
       Stratum_4  68.393906   68.2  14.019642  1280
       Stratum_5  71.714043   72.4  13.701463   470
       Stratum_6  73.768702   73.8  13.857648   262
M      0          55.137500   54.5  18.533964    16
       Stratum_1  56.787948   57.0  15.529860  2008
       Stratum_2  60.551698   60.6  15.011094  4770
       Stratum_3  64.711384   64.5  14.471118  4726
       Stratum_4  69.987207   70.2  13.828399  1876
       Stratum_5  73.582915   74.0  12.927549   796
       Stratum_6  76.131618   76.6  12.634690   544

In [9]:

df_kat = df_gen_soc_hc.groupby(['GENDER','STRATUM']).agg(['mean', 'median', 'std', 'count'])
# df_kat_hi = df_gen_soc_hc.drop('COL')
print(df_kat.to_latex(index=False)) 
print(df_kat)

\begin{tabular}{rrrrrrrr}
\toprule
       HI &        & \multicolumn{4}{l}{COL} \\
     mean & median &      std & count &      mean & median &       std & count \\
55.633333 &   55.9 & 5.296666 &     6 & 55.600000 &   56.2 &  8.111227 &     6 \\
\midrule
56.897589 &   56.0 & 8.312204 &   705 & 54.347518 &   54.4 & 18.939876 &   705 \\
59.352433 &   58.6 & 8.550998 &  1644 & 59.643674 &   60.8 & 19.457097 &  1644 \\
61.633294 &   61.2 & 8.493053 &  1682 & 64.113080 &   65.6 & 18.419680 &  1682 \\
65.626875 &   65.8 & 8.827991 &   640 & 71.160938 &   74.3 & 17.324491 &   640 \\
68.880851 &   68.8 & 9.270490 &   235 & 74.547234 &   77.6 & 16.558922 &   235 \\
70.729771 &   71.0 & 8.039898 &   131 & 76.807634 &   82.0 & 17.386598 &   131 \\
54.425000 &   53.7 & 7.668442 &     8 & 55.850000 &   54.6 & 26.002363 &     8 \\
58.042430 &   57.4 & 8.860388 &  1004 & 55.533466 &   55.6 & 20.023399 &  1004 \\
60.353627 &   59.8 & 8.936807 &  2385 & 60.749769 &   62.4 & 19.256568 &  2385 \\
63.444096 &   62.8 & 9.284197 &  2363 & 65.978671 &   68.0 & 18.152286 &  2363 \\
67.690405 &   67.8 & 9.284270 &   938 & 72.284009 &   75.1 & 16.908395 &   938 \\
70.835176 &   71.0 & 8.708441 &   398 & 76.330653 &   79.2 & 15.610538 &   398 \\
73.321324 &   74.0 & 8.349372 &   272 & 78.941912 &   83.2 & 15.306666 &   272 \\
\bottomrule
\end{tabular}

                         HI                               COL         \
                       mean median       std count       mean median
GENDER STRATUM
F      0          55.633333   55.9  5.296666     6  55.600000   56.2
       Stratum_1  56.897589   56.0  8.312204   705  54.347518   54.4
       Stratum_2  59.352433   58.6  8.550998  1644  59.643674   60.8
       Stratum_3  61.633294   61.2  8.493053  1682  64.113080   65.6
       Stratum_4  65.626875   65.8  8.827991   640  71.160938   74.3
       Stratum_5  68.880851   68.8  9.270490   235  74.547234   77.6
       Stratum_6  70.729771   71.0  8.039898   131  76.807634   82.0
M      0          54.425000   53.7  7.668442     8  55.850000   54.6
       Stratum_1  58.042430   57.4  8.860388  1004  55.533466   55.6
       Stratum_2  60.353627   59.8  8.936807  2385  60.749769   62.4
       Stratum_3  63.444096   62.8  9.284197  2363  65.978671   68.0
       Stratum_4  67.690405   67.8  9.284270   938  72.284009   75.1
       Stratum_5  70.835176   71.0  8.708441   398  76.330653   79.2
       Stratum_6  73.321324   74.0  8.349372   272  78.941912   83.2


                        std count
GENDER STRATUM
F      0           8.111227     6
       Stratum_1  18.939876   705
       Stratum_2  19.457097  1644
       Stratum_3  18.419680  1682
       Stratum_4  17.324491   640
       Stratum_5  16.558922   235
       Stratum_6  17.386598   131
M      0          26.002363     8
       Stratum_1  20.023399  1004
       Stratum_2  19.256568  2385
       Stratum_3  18.152286  2363
       Stratum_4  16.908395   938
       Stratum_5  15.610538   398
       Stratum_6  15.306666   272

# T-test

In [10]:
# T-test 
from scipy.stats import ttest_ind
df_try

      GENDER    STRATUM Average_grade  value
0          F  Stratum_4            HI   76.2
1          F  Stratum_5            HI   82.4
2          M  Stratum_2            HI   45.4
3          F  Stratum_2            HI   59.8
4          M  Stratum_4            HI   79.6
...      ...        ...           ...    ...
24817      M  Stratum_2           COL   79.4
24818      M  Stratum_2           COL   28.0
24819      M  Stratum_2           COL   88.8
24820      F  Stratum_3           COL   48.2
24821      M  Stratum_3           COL   79.0

[24822 rows x 4 columns]

In [12]:
df

,Unnamed: 0,GENDER,STRATUM,SCHOOL_NAT,SCHOOL_TYPE,MAT_S11,CR_S11,CC_S11,BIO_S11,ENG_S11,QR_PRO,CR_PRO,CC_PRO,ENG_PRO,WC_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,0,F,Stratum_4,PRIVATE,ACADEMIC,71,81,61,86,82,71,93,71,93,79,81.4,76.2,1
1,1,F,Stratum_5,PRIVATE,ACADEMIC,83,75,66,100,88,97,38,86,98,78,79.4,82.4,1
2,2,M,Stratum_2,PRIVATE,ACADEMIC,52,49,38,46,42,17,1,18,43,22,20.2,45.4,0
3,3,F,Stratum_2,PRIVATE,ACADEMIC,56,55,51,64,73,65,35,76,80,48,60.8,59.8,1
4,4,M,Stratum_4,PRIVATE,ACADEMIC,80,65,76,85,92,94,94,98,100,71,91.4,79.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,12406,M,Stratum_2,PRIVATE,ACADEMIC,67,69,70,67,81,88,71,86,87,65,79.4,70.8,0
12407,12407,M,Stratum_2,PUBLIC,ACADEMIC,58,57,61,63,53,46,39,44,11,0,28.0,58.4,0
12408,12408,M,Stratum_2,PRIVATE,ACADEMIC,66,69,75,70,58,98,88,90,81,87,88.8,67.6,0
12409,12409,F,Stratum_3,PRIVATE,ACADEMIC,53,69,64,59,52,60,80,51,8,42,48.2,59.4,1
12410,12410,M,Stratum_3,PUBLIC,ACADEMIC,79,65,62,77,73,83,95,91,79,47,79.0,71.2,0

In [21]:
df_temp = df.copy()
AvgMal = df_temp[df_temp.GENDER_bin == 0]
male = AvgMal.HI_GRADE_AVG

AvgFem = df_temp[df_temp.GENDER_bin == 1]
female = AvgFem.HI_GRADE_AVG
print(ttest_ind(female, male))

Ttest_indResult(statistic=-9.68749043358975, pvalue=4.0813261809640136e-22)

In [11]:
# df_try.groupby(['GENDER','STRATUM'])
from scipy.stats import ttest_ind
# ttest_ind(df.groupby('STRATUM')['HI_GRADE_AVG'].apply(lambda x:list(x)))

stra1 = df[df['STRATUM']=='Stratum_1']
stra2 = df[df['STRATUM']=='Stratum_2']
stra3 = df[df['STRATUM']=='Stratum_3']
stra4 = df[df['STRATUM']=='Stratum_4']
stra5 = df[df['STRATUM']=='Stratum_5']
stra6 = df[df['STRATUM']=='Stratum_6']



# ttest_ind(stra2['HI_GRADE_AVG'], stra4['HI_GRADE_AVG'])
print(ttest_ind(stra1['HI_GRADE_AVG'], stra2['HI_GRADE_AVG']))
print(ttest_ind(stra2['HI_GRADE_AVG'], stra3['HI_GRADE_AVG']))
print(ttest_ind(stra3['HI_GRADE_AVG'], stra4['HI_GRADE_AVG']))
print(ttest_ind(stra1['HI_GRADE_AVG'], stra6['HI_GRADE_AVG']))

print(ttest_ind(stra1['COL_GRADE_AVG'], stra2['COL_GRADE_AVG']))
print(ttest_ind(stra2['COL_GRADE_AVG'], stra3['COL_GRADE_AVG']))
print(ttest_ind(stra3['COL_GRADE_AVG'], stra4['COL_GRADE_AVG']))
print(ttest_ind(stra1['COL_GRADE_AVG'], stra6['COL_GRADE_AVG']))

Ttest_indResult(statistic=-9.399340649844527, pvalue=7.747551570087741e-21)
Ttest_indResult(statistic=-13.859897798876412, pvalue=3.454355508237283e-43)
Ttest_indResult(statistic=-15.497959869501809, pvalue=4.432088900007484e-53)
Ttest_indResult(statistic=-31.329560863055708, pvalue=2.963036925668288e-177)
Ttest_indResult(statistic=-9.37399230416917, pvalue=9.818960609549977e-21)
Ttest_indResult(statistic=-11.707648570166983, pvalue=2.087966205656796e-31)
Ttest_indResult(statistic=-12.432477788820357, pvalue=5.011617366178743e-35)
Ttest_indResult(statistic=-22.10110940156677, pvalue=1.5651280624844136e-97)