# Filtering dataframe and cleaning data

In [29]:
## Only run this block the first time you run the script 
# pip install xlrd
# pip install openpyxl

In [2]:
# Packages and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Data 
df = pd.read_excel("data_academic_performance.xlsx")
# settings to display all columns
pd.set_option("display.max_columns", None)
# display the dataframe head
# df.head()

In [13]:
# Dropping irrelevant columns and saving the dataframe
df.drop(["Unnamed: 9","COD_S11", "EDU_FATHER" ,"EDU_MOTHER" ,"OCC_FATHER" ,"OCC_MOTHER" ,"SISBEN" ,"PEOPLE_HOUSE" ,"INTERNET" ,"TV" ,"COMPUTER" ,"WASHING_MCH" ,"MIC_OVEN" ,"CAR" ,"DVD" ,"FRESH" ,"PHONE" ,"MOBILE" ,"REVENUE" ,"JOB" ,"SCHOOL_NAME" ,"SCHOOL_NAT" ,"SCHOOL_TYPE" ,"MAT_S11" ,"BIO_S11","Cod_SPro" ,"UNIVERSITY" ,"ACADEMIC_PROGRAM" ,"QR_PRO","WC_PRO" ,"FEP_PRO" ,"G_SC" ,"PERCENTILE" ,"2ND_DECILE" ,"QUARTILE" ,"SEL" ,"SEL_IHE"] , inplace=True, axis=1)

In [14]:
df.columns

Index(['GENDER', 'STRATUM', 'CR_S11', 'CC_S11', 'ENG_S11', 'CR_PRO', 'CC_PRO',
       'ENG_PRO'],
      dtype='object')

In [15]:
# mean score of highschool and of college
df["COL_GRADE_AVG"] = df[["CR_PRO", "CC_PRO", "ENG_PRO"]].mean(axis=1)
df["HI_GRADE_AVG"] = df[["CR_S11", "CC_S11", "ENG_S11"]].mean(axis=1)

In [17]:
df.to_csv("df_sum_score.csv")

# Basic stats

In [18]:
df.groupby('GENDER').agg(['mean', 'median'])

           CR_S11            CC_S11           ENG_S11            CR_PRO  \
             mean median       mean median       mean median       mean
GENDER
F       60.895300   61.0  59.959944   60.0  61.451120   59.0  61.338687
M       60.698426   61.0  61.215255   61.0  62.040581   59.0  62.788409

                  CC_PRO           ENG_PRO        COL_GRADE_AVG             \
       median       mean median       mean median          mean     median
GENDER
F        66.0  58.573865   63.0  66.532421   72.0     62.148324  64.333333
M        69.0  59.606270   65.0  68.159473   76.0     63.518051  66.333333

       HI_GRADE_AVG
               mean     median
GENDER
F         60.768788  60.000000
M         61.318087  60.666667

In [19]:
#Hello